@charset "utf-8";
/*───────────────────────────────────────────────────────────

	 공통 (주문/장바구니)

───────────────────────────────────────────────────────────*/
/* 추가상품 */
.add_goods_box {}
.add_goods_box .add_title {font-weight:bold;}
.add_goods_box .add_goods_list {}
.add_goods_box .add_goods_list li {padding:8px 0; border-bottom:1px solid #dfdfdf;}
.add_goods_box .add_goods_list li:last-child {border-bottom:none;}
.add_goods_box .add_goods_list li .add_goods_img {display:table-cell; width:60px;}
.add_goods_box .add_goods_list li .add_goods_img img {width:60px;}
.add_goods_box .add_goods_list li .add_goods_content {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.add_goods_box .add_goods_list li .add_goods_content .title {display:block; padding:0 0 3px 0; font-size:12px; color:#5e5e5e;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_option {color:#a9a9a9;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text {display:table; width:100%;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_number {display:block; font-size:11px; color:#9d9d9d;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_number em {font-style:normal;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price {display:block; font-size:14px; color:#26272b;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price em {font-size:12px; font-weight:bold; font-style:normal;}

/*** 장바구니 | mobile/order/cart.php ***/
.cart {}
.cart .cart_content_box {background:#f2f3f3}
.cart .cart_content_box .allchk {margin:0 0 5px 0; padding:10px 10px 10px 10px;}
.cart .cart_content_box .my_goods {padding:0 0 5px 0;}
.cart .cart_content_box .my_goods > li {position:relative; margin:0 10px 10px 10px; padding:10px 10px 10px 10px; border:1px solid #cccccc; background:#fff;}
/* 상품 버튼 */
.cart .cart_content_box .my_goods li .btn_list {position:relative; display:block; padding:0px 0 10px 0; border-bottom:1px solid #c9c9c9; font-size:0;}
.cart .cart_content_box .my_goods li .btn_list .coupon_btn {display:inline-block;}
.cart .cart_content_box .my_goods li .btn_list .coupon_btn button {display:inline-block; margin:0 5px 0 0; font-size:13px;}
.cart .cart_content_box .my_goods li .btn_list .option_btn {display:inline-block;}
.cart .cart_content_box .my_goods li .btn_list .option_btn button {display:inline-block; margin:0 5px 0 0; font-size:13px;}
.cart .cart_content_box .my_goods li .select_del_box {position:absolute; top:5px; right:-5px;}
.cart .cart_content_box .my_goods li .mid_box {display:table;}
.cart .cart_content_box .my_goods li .mid_box .left_box {display:table-cell; padding:13px 0 10px 0; font-size:0; vertical-align:top;}
/* 상품정보 */
.cart .cart_content_box .my_goods li .mid_box .right_box {display:table-cell; width:100%; padding:0 0 0 5px; vertical-align:top;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info {display:table; width:100%; padding:10px 0 0 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info > a {display:inline-block; width:100%; margin:0 10px 0 0px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead {display:table-cell; vertical-align:top;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box {position:relative; line-height:0; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb {line-height:0; font-size:0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb img {width:90px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; text-align:center; background:rgba(0,0,0,0.5);}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box img {width:15px; height:15px; vertical-align:-3px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .timesale_box .timetext {margin:0 0 0 4px; color:#fff; font-size:12px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody {display:table-cell; padding:0 0 0 10px; vertical-align:middle;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p {font-size:12px; line-height:16px; color:#9d9d9d;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.name {padding:0 0 3px 0; font-weight:bold; color:#333;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.excl {padding: 0 0 3px 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody .prc {display:block; padding:10px 0 0 0; font-size:15px; color:#26272b; font-weight:bold;}/*200611*/
/* 아이콘 느낌표 */
.cart .cart_content_box .my_goods li .mid_box .right_box .info .icon_exclamationmark {display:inline-block; width:10px; height:10px; background:url('../../img/icon/icon_exclamationmark.png') no-repeat center; background-size:10px;}
/* 구매 이용 조건 안내 */
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list{width:100%;color:#333; min-height:30px; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title {position:relative; width:100%; line-height:22px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title strong {padding:0 0 0 2px;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul {margin:0 0 10px 0;}
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul li {padding:5px 5px 5px 5px; border-bottom:1px solid #f2f3f3; }
.cart .cart_content_box .my_goods li .mid_box .right_box .info .order_possible_list .inner_title ul li.title {margin:10px 0 0 0; font-weight:bold; background:#f2f3f3; }
/* 구매 이용 조건 안내 더보기 버튼 */
.pm_more_btn{position:absolute; top:0; right:0px; width:24px; height:24px; border:none; font-size:0; background:url('../../img/icon/icon_box_arrow.gif') no-repeat center; background-size:24px;}
.pm_more_btn.active {background:url('../../img/icon/icon_box_arrow_on.gif') no-repeat center; background-size:24px;}

/* 하단 버튼 */
.cart .btn_wish_bx {padding:5px 8px 5px 8px;}
.cart .btn_wish_bx ul {display:table; width:100%; padding:0 0 4px 0;}
.cart .btn_wish_bx ul li {display:table-cell; width:50%;}
.cart .btn_wish_bx ul li:nth-child(1) {padding:0 2px 0 0;}
.cart .btn_wish_bx ul li:nth-child(2) {padding:0 0 0 2px;}
.cart .no_data {text-align:center; padding:50px 0;}

/* 추가상품 */
.cart .add_goods_box {width:100%; padding:15px 0 0 0; margin:15px 0 0 0; border-top: 1px solid #cccccc; }

/* 주문정보1 */
.cart .cart_content_box .supplier_total {border-bottom:2px solid #26272b; padding:10px;line-height:1.4em; font-size:14px; color:#333; font-weight: normal;}
.cart .cart_content_box .supplier_total .total{font-size:15px; }
/* 주문정보2 */
.cart .my_buy {padding:10px 10px 10px 10px;}
.cart .my_buy dl {display:table; width:100%; margin:0 0 15px 0;}
.cart .my_buy dl dt {display:table-cell; width:50%; font-size:13px; color:#5e5e5e;}
.cart .my_buy dl dd {display:table-cell; width:50%; text-align:right; font-size:15px; color:#5e5e5e;}
.cart .my_buy dl.total {padding:15px 0 0 0; border-top:1px solid #c3c3c3;}
.cart .my_buy dl.total dd {color:#689ce8; font-size:17px;}
/* 데이터가 없을경우 */
.cart .no_data {padding:170px 0 110px 0;font-size:15px; color:#222222; text-align:center; background:url('../../img/icon/icon_ex.png') no-repeat center 70px; background-size:80px;}

/*** 주문서 작성 | order/order.html ***/
.order {margin-top:-1px;}
.order .order_tit {border-top:1px solid #cccccc; background:#f2f3f3; color:#333333; font-size:14px; line-height:36px; padding-left:15px;}
.order .order_tit span {}
.order .order_tit > span img {width:18px; vertical-align:middle;}
.order .order_tit > div img{height:18px;}
.order .pay {}
/* 주문 상품 */
.order .pay .my_goods {}
.order .pay .my_goods > li {position:relative;}
.order .pay .my_goods li .info {display:table; width:100%; padding:10px 15px 10px 15px; box-sizing:border-box;}
.order .pay .my_goods li .info > a {display:inline-block; margin:0 10px 0 0px;}
.order .pay .my_goods li .info .select_del_box {position:absolute; top:3px; right:3px;}
.order .pay .my_goods li .info .itemhead {display:table-cell; vertical-align:top;}
.order .pay .my_goods li .info .itemhead .thmb_box {position:relative; line-height:0; }
.order .pay .my_goods li .info .itemhead .thmb_box .thmb {line-height:0; font-size:0;}
.order .pay .my_goods li .info .itemhead .thmb_box .thmb img {width:90px;}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; text-align:center; background:rgba(0,0,0,0.5);}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box img {width:15px; height:15px; vertical-align:-3px;}
.order .pay .my_goods li .info .itemhead .thmb_box .timesale_box .timetext {color:#fff; font-size:12px; margin-left:3px;}
.order .pay .my_goods li .info .itembody {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.order .pay .my_goods li .info .itembody p {font-size:12px; line-height:16px; color:#9d9d9d;}
.order .pay .my_goods li .info .itembody p.name {padding:0 0 3px 0; font-weight:bold; color:#333;}
.order .pay .my_goods li .info .itembody p.excl {padding: 0 0 3px 0;}
.order .pay .my_goods li .info .itembody .prc {font-weight:bold; color:#26272b;}
.order .order_box {padding:0 0 10px 0;}
.order .order_box fieldset {}
.order .order_box fieldset legend {display:none;}
/* 수집동의 */
.order .order_box .guest_info {}
.order .order_box .guest_info .g_content {overflow:hidden; overflow-y:scroll; height:120px; margin:10px 0 10px 0; padding:5px 15px 5px 15px;}
.order .order_box .guest_info .inp_chk {padding:10px 15px 0 15px; border-top:1px solid #ccc;}
/* input 박스 */
.order .order_box input:not([type="radio"]):not([type="checkbox"]) {width:100%; height:31px; padding:0 10px 0 10px; font-size:14px; color:#333333; background:#ffffff; border:1px solid #c3c3c3; box-sizing:border-box;}
.order .order_box .cell_bx {display:table; width:100%;}
.order .order_box .cell_bx .cell {display:table-cell; width:50%; vertical-align:top;}
.order .order_box .cell_bx .cell .inp_sel {margin-left:5px;}
/* 배송지 정보 */
.order .order_box .delivery_box {}
.order .order_box .delivery_box .tab_menu {padding:15px 15px 0 15px;}
.order .order_box .delivery_box .tab_menu ul {display:table; width:100%;}
.order .order_box .delivery_box .tab_menu ul li {display:table-cell; width:33.3%; border:1px solid #c7c7c7; border-left:none; background:#ffffff; vertical-align:middle;}
.order .order_box .delivery_box .tab_menu ul li a {display:block; padding:10px 7px; color:#333333; text-align:center;  border-left:none; box-sizing:border-box;}
.order .order_box .delivery_box .tab_menu ul li:first-child{border-left:1px solid #c7c7c7}
.order .order_box .delivery_box .tab_menu ul li.active{background:#26272b;}
.order .order_box .delivery_box .tab_menu ul li.active a {color:#fff; font-weight:bold;}
/* 정보 반영 체크 */
.order .order_box .tab_content {}
.order .order_box .tab_content.tab_guest {padding:0 0 10px 0;}
.order .order_box .tab_content .member_chk_box {padding:13px 0 13px 20px; font-weight:bold;}
.order .order_box .tab_content .member_chk_box1 {padding:0 0 13px 20px; font-weight:bold;}
.order .order_box .tab_content .tab_box {display:none; padding-top:15px;}
.order .order_box .tab_content .show {display:block;}
/* 우편번호 */
.order .order_box .zipcode_box .zipcode_top {position:relative; padding-right:70px;}
.order .order_box .zipcode_box .zipcode_top .zipcode_num {}
.order .order_box .zipcode_box .zipcode_top .zipcode_btn_box {position:absolute; top:0; right:0; width:66px;}
.order .order_box .zipcode_box input {margin:0 0 5px 0;}
.order .order_box .delivery_list_add {display:block; width:90%; margin:0 auto; padding:0 15px 10px 15px;}
.order .order_box .delivery_list_add li {display:inline-block; width:calc(25% - 4px); margin:0px 2px 4px 2px; box-sizing:border-box; font-size:0;}
.order .order_box .delivery_list_add li a {overflow:hidden; white-space:nowrap; word-wrap:normal; text-overflow:ellipsis; font-size:12px;}
.order .order_box .delivery_list .no_shipping {padding-left:20px;}
/* 마일리지 & 예치금 */
.order .order_box .table_box {}
.order .order_box .table_box_guest {padding-top:10px;}
.order .order_box .table_box .all_money_box {display:table; width:100%;}
.order .order_box .table_box .all_money_box .money_left {display:table-cell; width:53%;}
.order .order_box .table_box .all_money_box .money_right {display:table-cell; padding-left:10px;}
.order .order_box .table_box .point_view {padding:5px 0 0 0; font-size:12px; color:#5e5e5e; line-height:1.4; }
.order .order_box .table_box .point_view p span {color:#26272b;}
.order .order_box .table_box .tx {font-weight:bold; color:#26272b;}
/* 최종 결제 금액 */
.order .order_box .sum_prc_wrap {text-align:right}
.order .order_box .sum_prc_wrap dl {display:inline-block; margin:0 15px 0 0;}
.order .order_box .sum_prc_wrap dl dt {display:inline-block; font-size:15px; font-weight:bold;}
.order .order_box .sum_prc_wrap dl dd {display:inline-block; margin:0 0 0 10px; font-size:15px; font-weight:bold;}
/* 결제 수단 */
.order .order_box .pay_mth {padding:0 15px 0 15px;}
.order .order_box .pay_mth li {margin-top:0;}
.order .order_box .pay_mth li > .inp_rdo{padding:15px 0 7px 0}
/* 결제 정보 */
.order .order_box .pay_notice {padding:5px 15px 5px 15px;}
.order .order_box .payco_notice {margin:15px 15px 15px 15px; padding:8px 8px 8px 8px; border:1px solid #e1e1e1; color:#535353; font-size:11px; line-height:16px;}
.order .order_box .re_confirm {padding:10px 15px 0 15px; font-weight:bold; color:#333333; font-size:13px;}
/* 결제 하기 */
.order .btn_pay_wrap {padding:5px 15px 15px 15px;}
.order .btn_pay_wrap .caution_msg1 {padding:5px 0 8px 0; text-align:center; font-weight:bold; color:#333333; font-size:13px;}
/* 추가상품 */
.order .add_goods_box {padding:15px 0 0 0; margin:15px 0 0 0; border-top: 1px solid #cccccc;}
/* 주문하기  사은품 */
.order .gift_choice {padding:10px 0 10px 0;}
.order .gift_choice > p { padding:0 10px 0 10px; }
.order .gift_choice > p > span {color:#ff573b;}
.order .gift_choice > ul {margin:-35px 0 0 -10px; padding:10px 10px 10px 10px; font-size:0; box-sizing: border-box;}
.order .gift_choice > ul > li { display:inline-block; height:auto; margin:35px 0 35px 0; padding:0 0 0 10px; width:33.334%; font-size:13px; text-align:center; vertical-align:top; box-sizing: border-box;}
.order .gift_choice > ul > li .inp_chk{display:block; right:initial; top:initial; margin:0;}
.order .gift_choice > ul > li label {display:block }
.order .gift_choice > ul > li img {display:block; max-width:100%; width:auto; height:auto; margin:0 auto; border:1px solid #cccccc; box-sizing:border-box;}
.order .gift_choice > ul > li span {display:block; width:93px; margin: 0 auto; padding:5px 0 5px 0; word-break:keep-all;}
/* 세금계산서 초기화 */
.order .tax_info_init {display:inline-block; width:50px; height:25px; padding:10px 0 10px 0; text-align:center; background:#26272b; border:1px solid #26272b; color:#ffffff; font-weight:bold; box-sizing:border-box; line-height:7px; margin-top:6px; font-size:12px;}

.pay_mth.block li{float:none; width:auto; }
.pay_mth {overflow:hidden; padding:8px 0 9px 15px}
.pay_mth li {float:left; width:50%; margin-top:8px}
.pay_mth li label{display:inline; font-size:13px; color:#494949; line-height:20px; vertical-align:top;}
.pay_mth li label.payco{display:inline-block; width:88px; height:17px; margin:1px 0 0 7px; background-position:0 -435px; line-height:999px}
.pay_mth_payco {overflow:hidden; padding:10px 30px 20px 30px; }
.pay_mth_payco li {float:left; width:50%; }
.pay_mth_payco li span.payco {padding:5px; }
.pay_mth_payco .payco input {display:none; }

.pay_mth span.line_br{display:inline-block; margin-left:29px;}

/*** PG사 결제 페이지 호출 | order/pg_gate.php ***/
.pg_gate {position:fixed; top:0; left:0; right:0; bottom:0; display:-webkit-box; height:100%; -webkit-box-orient:vertical; -webkit-box-pack:center; z-index:3000; background:rgba(0,0,0,.7); vertical-align:middle; text-align:center}
.pg_gate .pg_buy_info {position:relative; margin:0 10px; background:#ffffff;}
.pg_gate .pg_buy_info .pg_bx {padding:28px 30px 30px 30px; border-top:1px solid #c3c3c3;}
.pg_gate .pg_buy_info .pg_bx .tx {margin:0 0 12px 0; font-size:12px; color:#333;}
.pg_gate .pg_buy_info .pg_bx .tx strong { display:block; margin:0 0 2px 0; font-size:14px; color:#3e3d3c;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx {padding:0 10px 10px 10px}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .btn_bx {display:block;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .btn_bx li {display:inline-block;}
.pg_gate .pg_buy_info .pg_bx .btn_wish_bx .cart_btn_box {padding:10px 0 0 0;}

/*** 주문완료 | order/order_end.html ***/
.order_end {}
.order_end .order_end_box {position:relative; margin:15px 15px 5px 15px; padding:20px 0 20px 0; background:#f3f3f3; border:1px solid #e1e1e1; border-radius:2px; text-align:center}
.order_end .order_end_box h2 {padding:0 0 10px 0; font-size:13px;color:#333333;}
.order_end .order_end_box h2 strong{font-size:14px}
.order_end .order_end_box .tx {font-size:12px; line-height:16px; color:#5e5e5e;}
.order_end .order_end_box .tx ul {display:inline-block; margin:0 auto;}
.order_end .order_end_box .tx ul li {text-align:left; color:#5e5e5e;}
.order_end .order_end_box .tx ul li .prc {font-size:14px; color:#26272b; font-weight:bold;}
.order_end .order_end_box .tx ul li strong {font-size:14px;}
.order_end .tx2 {margin:0 0 11px 0; padding:20px 0 0 0; font-size:12px; text-align:center; line-height:17px; color:#5e5e5e;}
.order_end .tx2 span {display:inline-block; text-align:left}
.order_end .tx2 strong {color:#26272b;}
.order_end .btn_pay_wrap {display:table; width:100%; padding:15px 15px 15px 15px; box-sizing:border-box;}
.order_end .btn_pay_wrap li {display:table-cell;}
.order_end .btn_pay_wrap li:first-child {width:50%; padding:0 1px;}
.order_end .btn_pay_wrap li:last-child {padding:0 1px;}
/*** 쿠폰적용 레이어 | order/layer_coupon_apply.html ***/
.layer_coupon_apply {}
.layer_coupon_apply .ly_coupon_list {}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content {}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl {display:table; width:100%; padding:20px 0 20px 0; border-bottom:1px solid #cccccc;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dt {display:table-cell; width:43%; vertical-align:middle; font-weight:bold;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dd {display:table-cell; width:43%; padding:0 0 0 10px; vertical-align:middle; color:#9d9d9d;}
.layer_coupon_apply .ly_coupon_list .ly_coupon_content dl dd.c_chk {width:14%; text-align:center; vertical-align:middle;}
.layer_coupon_apply .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply .btn_box span {display:block; padding:10px;}

/*** 주문쿠폰적용 레이어 | order/layer_coupon_apply_order.html ***/
.layer_coupon_apply_order {}
.layer_coupon_apply_order .notice_box {width:100%; padding:20px 0 20px 0; background:#ffffff;}
.layer_coupon_apply_order .notice_box p {font-size:11px; line-height:15px; color:#9d9d9d; text-align:center;}
.layer_coupon_apply_order .ly_content {overflow-y:scroll; height:100%; box-sizing:border-box; -webkit-overflow-scrolling:touch; background:#fff;}
.layer_coupon_apply_order .ly_content .ly_coupon_list {padding:0 0 150px 0;}
.layer_coupon_apply_order .ly_content .ly_coupon_list h2 {padding:10px 10px 10px 10px; border-top:1px solid #ccc; box-sizing:border-box; background:#f2f3f3; color:#333; font-size:14px;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl {display:table; width:100%; padding:20px 0 20px 0; border-bottom:1px solid #cccccc;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dt {display:table-cell; width:43%; vertical-align:middle; font-weight:bold;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dd {display:table-cell; width:43%; padding:0 0 0 10px; vertical-align:middle; color:#9d9d9d;}
.layer_coupon_apply_order .ly_content .ly_coupon_list dl dd.c_chk {width:14%; text-align:center; vertical-align:middle; font-size:0;}
.layer_coupon_apply_order .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_coupon_apply_order .btn_box {position:fixed; bottom:0; left:0; width:100%; background:#fff; border-top:1px solid #cccccc;}
.layer_coupon_apply_order .btn_box span {display:block; padding:10px;}
.layer_coupon_apply_order .no_data {padding:130px 0 60px 0; font-size:15px; color:#222222; text-align:center; background:url('../../img/icon/icon_ex.png') no-repeat center 40px; background-size:80px;}

.pay-benefits span span {display:inline !important;}












/*** 마이페이지 요약정보 | mypage/_member_summay.html ***/
.member_summary {}
/* 등급 혜택 */
.member_summary .member_name {display:table; width:55%; margin-left:33%;}/* 202004 */
.member_summary .member_name span {display:table-cell; width:70%; font-size:14px; vertical-align:middle;}
.member_summary .member_name span strong {font-size:15px;}
.member_summary .member_name span.member_modify {width:30%; text-align:right;}
.member_summary .member_grade {width:100%; padding:15px 0; margin:5px 0 14px 0; border:1px solid #999999; box-sizing:border-box;}/*200622*/
.member_summary .member_grade .grade_text {display:table; width:80%; margin:0 auto; vertical-align:middle; color:#222222;}
.member_summary .member_grade .grade_text span {display:table-cell; font-weight:bold; font-size:14px; color: #3e3d3c; vertical-align:middle;}
.member_summary .member_grade .grade_text span strong {font-size:16px; color:#26272b;}
.member_summary .member_grade .grade_text .grade_img {padding:0 10px 0 0; text-align:right; }
.member_summary .member_grade .grade_text .grade_img img {width:70px; height:78px;}/*200623*/
.member_summary .member_grade .grade_text1 {text-align:center;}
.member_summary .mypage_number_summary {padding:8px 0; border:1px solid #999999;}/*200622*/
.member_summary .mypage_number_summary ul {display:table; width:100%;}
.member_summary .mypage_number_summary ul li {display:table-cell; width:33.3%; text-align:center; vertical-align:top;}
.member_summary .mypage_number_summary ul li a {display:block; width:100%; padding:10px 0 10px 0; font-size:13px; color:#444444;}
.member_summary .mypage_number_summary ul li a span {display:block; padding:0px 0 0 0;}
.member_summary .mypage_number_summary ul li a span strong {font-size:21px; color:#222222;}
.member_summary .mypage_number_summary ul li:nth-child(2) {width:34%; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3;}
.member_summary .mypage_number_summary ul li:first-child {border-right:1px solid #e3e3e3;}/*200622*/

/*** 주문목록 / 배송조회 && 주문내역 상세보기 | mypage/_order_goods_list.html | mypage/order_list.html && mypage/order_view.html 와 같이 쓰임 ***/
.order_goods_list {}
/* 리스트 상단*/
.order_goods_list .order_top_date {padding:10px 10px 10px 10px; font-weight:bold; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f2f3f3; color:#333333; font-size:14px;}
.order_goods_list .order_top_date strong {color:#26272b;}
.order_goods_list .orderlist_wrap {background:#f2f3f3;}
.order_goods_list .orderlist_wrap .order_number_box {padding:0 10px 0 10px; font-size:14px; line-height:30px; font-weight:bold; }
.order_goods_list .orderlist_wrap .order_number_box .order_number {display:table; width:100%;}
.order_goods_list .orderlist_wrap .order_number_box .order_number_left {display:table-cell; width:70%;}
.order_goods_list .orderlist_wrap .order_number_box .order_number_right {display:table-cell; width:30%; text-align:right;}
.order_goods_list .orderlist_wrap .order_number_box ul {}
.order_goods_list .orderlist_wrap .order_number_box ul li {display:inline-block;}
/* 리스트 반복 */
.order_goods_list .my_goods {padding:10px 10px 10px 10px;}
.order_goods_list .my_goods ul {}
.order_goods_list .my_goods .info {background:#fff; border:1px solid #cccccc;}
.order_goods_list .my_goods .info {padding:10px 10px 10px 10px;}
.order_goods_list .my_goods .info > a {display:block; }
.order_goods_list .my_goods .info .btn_bx {text-align:left;}
.order_goods_list .my_goods .info .btn_bx li {display:inline-block; padding:2px 0 2px 0; vertical-align:top;}
.order_goods_list .my_goods .info .itemhead {display:table-cell; width:20%; padding-bottom:5px; vertical-align:top;}
.order_goods_list .my_goods .info .itemhead .img {}
.order_goods_list .my_goods .info .itemhead .img img {width:90px; border:1px solid #e5e5e5;}
.order_goods_list .my_goods .info .itembody {display:table-cell; width:80%; padding:0 10px 0 10px; vertical-align:middle;}
.order_goods_list .my_goods .info .itembody dl {}
.order_goods_list .my_goods .info .itembody dl dt {font-weight:bold;}
.order_goods_list .my_goods .info .itembody dl dd {color:#9d9d9d;}
.order_goods_list .my_goods .info .order_info {width:100%; padding:10px 0 0 0; border-top:1px solid #e5e5e5;}
.order_goods_list .my_goods .info .order_info .info_box {display:table; width:100%;}
.order_goods_list .my_goods .info .order_info .info_box .info2 {display:table-cell; width:70%; }
.order_goods_list .my_goods .info .order_info .info_box .ing_chk {display:table-cell; width:30%; text-align:right;}
.order_goods_list .my_goods .info .order_info .d_causation {padding:4px 0 2px 0; text-align:right;}
/* 반품 / 교환 */
.order_goods_list .my_goods .claim_info {border-top:none; display:table; width:100%; box-sizing:border-box;}
.order_goods_list .my_goods .claim_info .claim_left {display:table-cell; width:50%; vertical-align:middle;}
.order_goods_list .my_goods .claim_info .claim_right {display:table-cell; width:50%; text-align:right;}
.order_goods_list .my_goods .claim_info .claim_right .count {overflow:hidden; font-size:0;}
.order_goods_list .my_goods .claim_info .claim_right input {display:inline-block; height:34px; font-size:12px; border:1px solid #ccc; text-align:center; border-right:none; border-left:none; box-sizing:border-box; vertical-align:middle; }
.order_goods_list .my_goods .claim_info .claim_right .up {display:inline-block; width:34px; height:34px; background:url('../../img/btn/btn_plus.png') no-repeat center; background-size:34px; font-size:0; border:none;}
.order_goods_list .my_goods .claim_info .claim_right .down {display:inline-block; width:34px; height:34px; background:url('../../img/btn/btn_minus.png') no-repeat center; background-size:34px; font-size:0; border:none;}
/* 구매확정 */
.order_goods_list .my_goods .info .item_check{float: left;margin-right:2px;}

/*** 쿠폰 | mypage/coupon.html ***/
.coupon {}
.coupon h3 { border-bottom:1px solid #cccccc; text-indent:10px; background:#f2f3f3; color:#333333; font-size:14px; line-height:36px;}
.coupon h3 span {color:#9d9d9d;}
.coupon h3 span strong {color:#26272b;}
.coupon .my_coupon {border-bottom:1px solid #cccccc; text-align:center;}
.coupon .my_coupon fieldset {padding:22px 30px 0 30px;}
.coupon .my_coupon fieldset legend {display:none;}
.coupon .my_coupon fieldset .inp_tx input {width:100%; height:39px; margin:0 0 5px 0; border:1px solid #c3c3c3; font-size:14px; box-sizing:border-box; text-align:center;}
.coupon .my_coupon .tx {display:inline-block; margin:8px 0 22px 0; font-size:11px; line-height:15px; color:#9d9d9d; text-align:left;}
/* 쿠폰 리스트 */
.coupon .coupon_bx {padding:5px 5px 7px; background:#ddd}
.coupon .coupon_bx li {margin:7px 0 0 0; border:1px solid #ccc; -webkit-box-shadow:0 1px 0 rgba(204,204,204,.5); background:#fff}
.coupon .coupon_bx li:first-child {margin-top:0}
.coupon .coupon_bx dl {}
.coupon .coupon_bx dl dt {height:40px; padding:0 15px; margin:0 0 12px 0; border-bottom:1px solid #e5e5e5; line-height:42px; color:#333; font-size:15px; font-weight:bold;}
.coupon .coupon_bx dl dd {padding:0 15px 0 15px; color:#5e5e5e; font-size:13px; font-weight:bold; line-height:18px}
.coupon .coupon_bx dl dd:last-child {margin-bottom:10px}
.coupon .coupon_bx dd strong {display:inline-block; min-width:44px; margin:0 10px 0 0; color:#a0a0a0; font-size:11px}
.coupon .coupon_bx .limit {color:#26272b}
/* 쿠폰 내역이 없을경우 */
.coupon .no {padding:41px 0 42px 0; text-align:center; font-size:14px;}

/*** 예치금 | mypage/deposit.html ***/
.deposit {}
.deposit .money_search {}
.deposit .money_search fieldset legend {display:none;}
.deposit .money_search fieldset > div {padding:5px 10px 0 10px;}
.deposit .my_money {display:table; width:100%;}
.deposit .my_money p {display:table-cell; width:50%;}
.deposit .my_money p.tit {padding:0 0 0 10px; font-size:14px; color:#333; line-height:38px; font-weight:bold;}
.deposit .my_money p.money {padding:0 10px 0 0; text-align:right; color:#26272b; font-size:16px; line-height:38px; font-weight:bold;}
.deposit h3 {text-indent:10px; font-size:14px; color:#333; line-height:36px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f2f3f3;}
.deposit .money_history {margin:5px 10px 5px 10px; border:1px solid #cccccc;}
.deposit .no {padding:41px 0 42px 0; text-align:center; font-size:14px;}
.deposit td.content{font-weight:normal;text-align:left}
.deposit td.minus{color:#26272b}

/*** 회원가입 승인대기 | mypage/index.html ***/
.mypage_index {padding:15px 15px 15px 15px;}
.mypage_index .mypage_menu {padding:20px 0 0 0;}
.mypage_index .mypage_menu h3 {border-bottom:1px solid #999999; text-indent:5px; line-height:36px; font-size:15px; color:#222222;}
.mypage_index .mypage_menu ul {}
.mypage_index .mypage_menu ul li {position:relative;}
/* 기본 */
.mypage_index .mypage_menu ul li a {display:block; padding:10px 0 10px 0; text-indent:5px; font-size:14px; color:#222222; border-bottom:1px solid #efefef; }
/*하위 메뉴 */
.mypage_index .mypage_menu ul li.depth1_list {}
.mypage_index .mypage_menu ul li.depth1_list > a span {display:inline; padding:0 20px 0 0; background:url('../../img/icon/icon_arrow1.png') no-repeat right center; background-size:9px 5px;}
.mypage_index .mypage_menu ul li.depth1_list ul {background:#efefef;}
.mypage_index .mypage_menu ul li.depth1_list ul li a {font-size:12px; color:#555555; text-indent:15px;}

/*** 현금영수증 신청 | mypage/layer_cash_receipt_request.html ***/
.layer_cash_receipt_request {position:relative; background:#fff;}
.layer_cash_receipt_request .ly_content {padding:15px 15px 15px 15px; }
.layer_cash_receipt_request .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_cash_receipt_request td input[type=text] {width:100%; height:36px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}

/*** 반품신청 레이어 | mypage/layer_order_back_regist.php ***/
.layer_order_back_regist {position:relative; }
.layer_order_back_regist .my_tit {text-indent:10px; color:#333; font-size:14px; line-height:36px; background:#f2f3f3; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.layer_order_back_regist .content_box {padding:10px 10px 10px 10px;}
.layer_order_back_regist .content_box dl {display:table; width:100%; padding:0 0 10px 0;}
.layer_order_back_regist .content_box dl dt {display:table-cell; width:20%; font-size:14px; padding:5px 0 0 0; color:#333333; font-weight:bold; vertical-align:top;}
.layer_order_back_regist .content_box dl dd {display:table-cell; width:70%; vertical-align:top;}
.layer_order_back_regist .content_box dl dd .input_content {}
.layer_order_back_regist .content_box dl dd .input_content textarea {width:100%; height:150px; padding:10px 10px 10px 10px; box-sizing:border-box; border:1px solid #c3c3c3;}
.layer_order_back_regist .content_box dl dd .input_content input {width:100%; height:31px; padding:0 10px; font-size:13px; box-sizing:border-box; border:1px solid #c3c3c3;}
.layer_order_back_regist .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_order_back_regist .caution {padding:0 0 5px 0; text-align:center;}
.layer_order_back_regist .btn_bx2 {width:100%; padding:10px 0 10px 0; text-align:center;}
.layer_order_back_regist .btn_bx2 li {display:inline-block; width:48%;}

/*** 교환신청 레이어 | mypage/layer_order_exchange_regist.php ***/
.layer_order_exchange_regist {position:relative; }
.layer_order_exchange_regist .my_tit {text-indent:10px; color:#333; font-size:14px; line-height:36px; background:#f2f3f3; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.layer_order_exchange_regist .content_box {padding:10px 10px 10px 10px;}
.layer_order_exchange_regist .content_box dl {display:table; width:100%; padding:0 0 10px 0;}
.layer_order_exchange_regist .content_box dl dt {display:table-cell; width:20%; font-size:14px; padding:5px 0 0 0; color:#333333; font-weight:bold; vertical-align:top;}
.layer_order_exchange_regist .content_box dl dd {display:table-cell; width:70%; vertical-align:top;}
.layer_order_exchange_regist .content_box dl dd .input_content {}
.layer_order_exchange_regist .content_box dl dd .input_content textarea {width:100%; height:150px; padding:10px 10px 10px 10px; box-sizing:border-box; border:1px solid #c3c3c3;}
.layer_order_exchange_regist .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_order_exchange_regist .btn_bx2 {width:100%; padding:10px 0 10px 0; text-align:center;}
.layer_order_exchange_regist .btn_bx2 li {display:inline-block; width:48%;}

/*** 발송지연 사유 레이어 | mypage/layer_order_naverpay_reason.html ***/
.layer_order_naverpay_reason {}
.layer_order_naverpay_reason {position:relative; background:#fff;}
.layer_order_naverpay_reason .ly_content {}
.layer_order_naverpay_reason .input_wrap {display:table; width:100%; margin:0; padding:10px 15px; box-sizing: border-box; border-bottom:1px solid #e1e1e1;  }
.layer_order_naverpay_reason .input_wrap .input_title {display:table-cell; width:27%; min-width:80px; font-size:12px; color:#5e5e5e; vertical-align:top; box-sizing: border-box;}
.layer_order_naverpay_reason .input_wrap .input_content {display:table-cell; width:73%; vertical-align:middle;}
.layer_order_naverpay_reason .btn_box { width:100%; padding:10px 10px 0 10px; box-sizing:border-box;}
.layer_order_naverpay_reason .close_btn {position:absolute; top:0; right:0; z-index:100;}

/*** 사유 레이어 | mypage/layer_order_refund_reason.php ***/
.layer_order_refund_reason {position:relative; }
.layer_order_refund_reason .my_tit {text-indent:10px; color:#333; font-size:14px; line-height:36px; background:#f2f3f3; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.layer_order_refund_reason .content_box {padding:10px 10px 10px 10px;}
.layer_order_refund_reason .content_box dl {display:table; width:100%; padding:0 0 10px 0;}
.layer_order_refund_reason .content_box dl dt {display:table-cell; width:20%; font-size:14px; padding:5px 0 0 0; color:#333333; font-weight:bold; vertical-align:top;}
.layer_order_refund_reason .content_box dl dd {display:table-cell; width:70%; font-size:14px; padding:5px 0 0 5px; vertical-align:top;}
.layer_order_refund_reason .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_order_refund_reason .btn_bx2 {width:100%; padding:10px 0 10px 0; text-align:center;}
.layer_order_refund_reason .btn_bx2 li {display:inline-block; width:48%;}

/*** 환불신청 레이어 | mypage/layer_order_refund_regist.php ***/
.layer_order_refund_regist {position:relative; }
.layer_order_refund_regist .my_tit {text-indent:10px; color:#333; font-size:14px; line-height:36px; background:#f2f3f3; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc;}
.layer_order_refund_regist .content_box {padding:10px 10px 10px 10px;}
.layer_order_refund_regist .content_box dl {display:table; width:100%; padding:0 0 10px 0;}
.layer_order_refund_regist .content_box dl dt {display:table-cell; width:20%; font-size:14px; padding:5px 0 0 0; color:#333333; font-weight:bold; vertical-align:top;}
.layer_order_refund_regist .content_box dl dd {display:table-cell; width:70%; vertical-align:top;}
.layer_order_refund_regist .content_box dl dd .input_content {}
.layer_order_refund_regist .content_box dl dd .input_content textarea {width:100%; height:150px; padding:10px 10px 10px 10px; box-sizing:border-box; border:1px solid #c3c3c3;}
.layer_order_refund_regist .content_box dl dd .input_content input {width:100%; height:31px; font-size:13px; color:#333333; padding:0 10px 0 10px; box-sizing:border-box; border:1px solid #c3c3c3;}
.layer_order_refund_regist .caution {padding:0 10px 0 10px;}
.layer_order_refund_regist .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_order_refund_regist .btn_bx2 {width:100%; padding:10px 0 10px 0; text-align:center;}
.layer_order_refund_regist .btn_bx2 li {display:inline-block; width:48%;}

/*** 배송지 관리 | mypage/layer_shipping_address_regist.html : css/gd_common.css 에내용 있음 ***/

/*** 세금계산서 발행 | mypage/layer_tax_invoice_request.html ***/
.layer_tax_invoice_request {position:relative; background:#fff;}
.layer_tax_invoice_request .ly_content {padding:15px 15px 15px 15px; }
.layer_tax_invoice_request .close_btn {position:absolute; top:0; right:0; z-index:100;}
.layer_tax_invoice_request td input[type=text] {width:100%; height:36px; text-indent:10px; border:1px solid #c3c3c3; box-sizing:border-box;}
.layer_tax_invoice_request .tax_mail li {display:table-cell; vertical-align:top;}
.layer_tax_invoice_request .tax_mail li:first-child {padding-right:5px;}
.layer_tax_invoice_request .tax_mail li .inp_sel select {height:36px; background-size:400px 36px;}
.layer_tax_invoice_request .tax_mail li input[type=text] {/*margin:0 0 5px 0;*/}
.layer_tax_invoice_request .zipcode_box .zipcode_top {position:relative; padding-right:70px;}
.layer_tax_invoice_request .zipcode_box .zipcode_top .zipcode_num {}
.layer_tax_invoice_request .zipcode_box .zipcode_top .zipcode_btn_box {position:absolute; top:0; right:0; width:66px;}
.layer_tax_invoice_request .zipcode_box input {margin:0 0 5px 0;}
.layer_tax_invoice_request .btn_box {display:table;width:100%;padding:12px 0 12px 0;text-align:center;}
.layer_tax_invoice_request .btn_box li {display:table-cell;width:50%;}
.layer_tax_invoice_request .btn_box li:nth-child(1) {padding-right:2px;}
.layer_tax_invoice_request .btn_box .tax_info_init {display:block;width:100%;height:auto;padding:10px 0 10px 0;background:#dddddd;border:1px solid #26272b;color:#444444;font-weight:bold;box-sizing:border-box;}

/*** 마일리지 | mypage/mileage.html ***/
.mileage {}
.mileage .money_search {}
.mileage .money_search fieldset legend {display:none;}
.mileage .money_search fieldset > div {padding:5px 10px 0 10px;}
.mileage .my_money {display:table; width:100%;}
.mileage .my_money p {display:table-cell; width:50%;}
.mileage .my_money p.tit {padding:0 0 0 10px; font-size:14px; color:#333; line-height:38px; font-weight:bold;}
.mileage .my_money p.money {padding:0 10px 0 0; text-align:right; color:#689ce8; font-size:16px; line-height:38px; font-weight:bold;}/*200622*/
.mileage h3 {text-indent:10px; font-size:14px; color:#333; line-height:36px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f2f3f3;}
.mileage .money_history {margin:5px 10px 5px 10px; border:1px solid #cccccc;}
.mileage .no {padding:41px 0 42px 0; text-align:center; font-size:14px;}
.mileage td.content{font-weight:normal;text-align:left}
.mileage td.minus{color:#26272b}

/*** 회원정보수정 | member/my_page.html ***/
.my_page {}
.my_page .modify_content_box {}
.my_page .modify_content_box .modify_content {padding:10px 10px 10px 10px;}
.my_page .modify_content_box .modify_btn_box {padding:20px 10px 10px 10px;}

/*** 회원 비밀번호 검증 | mypage/my_page_password.html ***/
.my_page_password {padding:28px 30px 28px 30px;}
.my_page_password .text {margin:0 0 12px 0; color:#333; font-size:14px; font-weight:bold; word-break:keep-all;}
.my_page_password fieldset {}
.my_page_password fieldset legend {display:none;}
.my_page_password fieldset .sns_box {padding:0 0 10px 0;}
.my_page_password fieldset .sns_box .btn {padding:4px 0 0 0;}
.my_page_password fieldset .sns_box .sns_payco {padding:10px 0 10px 0; border:1px solid #c3c3c3; text-align:center;}
.my_page_password fieldset .sns_box .sns_payco img {width:53px;}
.my_page_password fieldset .sns_box .sns_facebook {padding:10px 0 10px 0; border:1px solid #c3c3c3; text-align:center;}
.my_page_password fieldset .sns_box .sns_facebook img {width:73px;}
.my_page_password fieldset .sns_box .sns_naver {padding:10px 0 10px 0; border:1px solid #c3c3c3; text-align:center;}
.my_page_password fieldset .sns_box .sns_naver img {width:65px;}
.my_page_password fieldset .sns_box .sns_wonder {padding:10px 0 10px 0; border:1px solid #c3c3c3; text-align:center;}
.my_page_password fieldset .sns_box .sns_wonder img {width:102px;}
.my_page_password fieldset dl {display:table; width:100%;}
.my_page_password fieldset dl dt {display:table-cell; width:20%; font-weight:bold; font-size:14px;}
.my_page_password fieldset dl dd {display:table-cell; font-weight:bold; font-size:14px;}
.my_page_password fieldset dl.pw {padding:10px 0 10px 0;}
.my_page_password fieldset dl.pw dt {display:none;}
.my_page_password fieldset dl.pw dd {width:100%;}
.my_page_password fieldset dl.pw dd input {width:100%; height:39px; border:1px solid #c3c3c3; text-indent:10px; font-size:16px; font-weight:bold; box-sizing:border-box;}
.my_page_password .c_msg {margin:0 0 12px 0; font-size:14px; color:#26272b; font-weight:bold;}

/*** 주문목록/배송조회 | mypage/order_list.html ***/
.order_list {}
.order_list .form_box {background:#f2f3f3;}
.order_list .form_box fieldset {}
.order_list .form_box fieldset legend {display:none;}
.order_list .form_box fieldset .inp_sel {padding:10px 10px 10px 10px;}
.order_list .btn {padding:10px 10px 10px 10px;}
.order_list .no {padding:20px 0 20px 0; text-align:center; font-size:14px; }

/*** 주문내역 상세보기 | mypage/order_view.html ***/
.order_view {}
.order_view h3 {text-indent:10px; line-height:32px; border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; background:#f2f3f3; font-size:14px; font-weight:bold;}
/* 사은품 */
.order_view .view_box2 {padding:12px 15px 12px 15px;}
.order_view .view_box2 .orinfo {}
.order_view .view_box2 .orinfo li {padding:5px 0 5px 0;}
.order_view .view_box2 .orinfo li dl {display:table; width:100%;}
.order_view .view_box2 .orinfo li dl dt {display:table-cell; vertical-align:middle; font-size:13px; font-weight:bold; color:#5e5e5e;}
.order_view .view_box2 .orinfo li dl dd {display:table-cell; vertical-align:middle;}
.order_view .view_box2 .orinfo li dl dd.img {width:60px; font-size:0; line-height:0;}
/* 결제정보 */
.order_view .view_box {padding:12px 15px 12px 15px;}
.order_view .view_box dl {display:table; width:100%; padding:5px 0 5px 0; font-size:0;}
.order_view .view_box dl:last-child {border-bottom:none;}
.order_view .view_box dl dt {display:table-cell; width:100px; font-size:13px; font-weight:bold; color:#5e5e5e;}
.order_view .view_box dl dd {display:table-cell; font-size:13px; color:#5e5e5e;}
.order_view .view_box dl dd ul.discount {}
.order_view .view_box dl dd ul.discount li {position:relative; padding:0 0 0 14px; color:#9c9c9c; font-size:13px; line-height:19px}
.order_view .view_box dl dd ul.discount li:before {position:absolute; top:4px; left:2px; width:8px; height:6px; background:url('../../img/icon/icon_add_discount.png') no-repeat; background-size:8px 6px; content:''}

/*** 배송지 관리 | mypage/shipping.html ***/
.shipping {padding:5px 5px 5px 5px;}
.shipping .s_content {border:1px solid #cccccc;}
.shipping .s_content .s_tit {padding:10px 0 10px 0; font-weight:bold; border-bottom:1px solid #cccccc; background:#f2f3f3; text-indent:10px;}
.shipping .s_content .s_address {padding:10px 10px 10px 10px; border-bottom:1px dashed #cccccc; word-break:keep-all;}
.shipping .s_content .s_data {padding:10px 10px 10px 10px;}
.shipping .s_content .s_data dl {display:table; width:100%;}
.shipping .s_content .s_data dl dt {display:table-cell; width:50%; vertical-align:middle;}
.shipping .s_content .s_data dl dd {display:table-cell; width:50%; text-align:right; vertical-align:middle;}
.shipping .s_content .s_btn {display:table; width:100%; padding:5px 0 0 0;}
.shipping .s_content .s_btn li {display:table-cell; width:50%;}
.shipping .s_content .s_btn li:last-child {text-align:right;}
.shipping .btn_box {padding:5px 0 0 0;}
.shipping .no {text-align:center; padding:50px 0;}

/*** 위시리스트 | mypage/wish_list.html ***/
.wish_list {}
.wish_list .wish_content_box {background:#f2f3f3}
.wish_list .wish_content_box .allchk {margin:0 0 5px 0; padding:10px 10px 10px 10px;}
.wish_list .wish_content_box .my_goods {padding:0 0 5px 0;}
.wish_list .wish_content_box .my_goods > li {position:relative; margin:0 10px 10px 10px; border:1px solid #cccccc; background:#fff;}
.wish_list .wish_content_box .my_goods li .info {display:table; width:100%; padding:10px 0 10px 0; }
.wish_list .wish_content_box .my_goods li .info > a {display:inline-block; width:calc(100% - 80px); margin:0 10px 0 40px; box-sizing:border-box;}
.wish_list .wish_content_box .my_goods li .info .select_del_box {position:absolute; top:8px; right:5px;}
.wish_list .wish_content_box .my_goods li .info .itemhead {display:table-cell; vertical-align:top;}
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box {position:relative; line-height:0; }
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box .thmb {line-height:0; font-size:0;}
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box .thmb img {width:90px;}
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box .timesale_box {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; text-align:center; background:rgba(0,0,0,0.5);}
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box .timesale_box img {width:15px; height:15px; vertical-align:-3px;}
.wish_list .wish_content_box .my_goods li .info .itemhead .thmb_box .timesale_box .timetext {color:#fff;}
.wish_list .wish_content_box .my_goods li .info .itembody {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.wish_list .wish_content_box .my_goods li .info .itembody .name{word-break:break-all;}
.wish_list .wish_content_box .my_goods li .info .itembody .prc {font-weight:bold;}
.wish_list .wish_content_box .my_goods li .info .icon_exclamationmark {display:inline-block; width:10px; height:10px; background:url('../../img/icon/icon_exclamationmark.png') no-repeat center; background-size:10px;}
/* 구매 이용 조건 안내 */
.wish_list .wish_content_box .my_goods li .info .order_possible_list {width:100%;color:#333; min-height:30px; }
.wish_list .wish_content_box .my_goods li .info .order_possible_list .inner_title {position:relative; width:100%; line-height:22px;}
.wish_list .wish_content_box .my_goods li .info .order_possible_list .inner_title strong {padding:0 0 0 2px;}
.wish_list .wish_content_box .my_goods li .info .order_possible_list .inner_title ul {margin:0 0 10px 0;}
.wish_list .wish_content_box .my_goods li .info .order_possible_list .inner_title ul li {padding:5px 5px 5px 5px; border-bottom:1px solid #f2f3f3; }
.wish_list .wish_content_box .my_goods li .info .order_possible_list .inner_title ul li.title{margin:10px 0 0 0; font-weight:bold; background:#f2f3f3; }
/* 구매 이용 조건 안내 더보기 버튼 */
.pm_more_btn{position:absolute; top:0; right:0px; width:24px; height:24px; border:none; font-size:0; background:url('../../img/icon/icon_box_arrow.gif') no-repeat center; background-size:24px;}
.pm_more_btn.active {background:url('../../img/icon/icon_box_arrow_on.gif') no-repeat center; background-size:24px;}
.wish_list .wish_content_box .my_goods li .chk_box {position:absolute; top:22px; left:10px; margin:-10px 0 0 0;}
.wish_list .wish_content_box .my_goods li .chk_box label {display:none;}
.wish_list .btn_wish_bx {padding:5px 8px 5px 8px;}
.wish_list .btn_wish_bx ul {display:table; width:100%;}
.wish_list .btn_wish_bx ul li {display:table-cell; width:50%; padding:2px;}
.wish_list .no_bx {text-align:center; padding:50px 0;}
/* 추가 상품 */
.add_goods_box {padding:15px 0 0 70px; margin:15px 0 0 0; border-top: 1px solid #cccccc; }
.add_goods_box .add_title {display:block; padding:0 0 5px 0; font-size:13px; font-weight:bold; color:#5e5e5e; }
.add_goods_box .add_goods_list {}
.add_goods_box .add_goods_list li {}
.add_goods_box .add_goods_list li .add_goods_img {display:table-cell; width:60px;}
.add_goods_box .add_goods_list li .add_goods_img img {width:60px;}
.add_goods_box .add_goods_list li .add_goods_content {display:table-cell; padding:0 0 0 15px; vertical-align:middle;}
.add_goods_box .add_goods_list li .add_goods_content .title { display: block; padding-bottom: 3px; font-size: 12px; color: #5e5e5e; }
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text {display:table; width:100%;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_number {display:block; font-size:11px; color: #9d9d9d; }
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price {display:block; font-size:14px; color: #606060;}
.add_goods_box .add_goods_list li .add_goods_content .add_goods_text .goods_price em {font-size:16px; font-weight:bold;}

/* 배송방식 레이어팝업 */
.layer-delivery-method { width: 100%; position:relative; }
.layer-delivery-method .input_wrap {display:table; width:100%; margin:0; padding:10px 15px; box-sizing: border-box; border-bottom:1px solid #e1e1e1;  }
.layer-delivery-method .input_wrap .input_title {display:table-cell; width:27%; min-width:80px; font-size:12px; color:#5e5e5e; vertical-align:top; box-sizing: border-box;}
.layer-delivery-method .input_wrap .input_content {display:table-cell; width:73%; vertical-align:middle;}
.layer-delivery-method .layer-delivery-btn-area { margin-top: 20px; }
.layer-delivery-method .close_btn {position:absolute; top:0; right:0; z-index:100;}

.coupon-li { width: 100%; position:relative; }
.coupon-li .coupon_gift_before_use{display:inline-block; position: absolute; bottom:0; right:0; width:60px; padding:5px 10px 6px 10px; color:#ffffff; font-size:11px; border:1px solid #26272b; background:#26272b; text-align:center; line-height:1;}

/* 쿠폰 사용가능 및 불가 탭 */
.coupon .tab_menu {padding:5px 5px 0 5px;background:#ddd;}
.coupon .tab_menu ul {display:table; width:100%;}
.coupon .tab_menu ul li {display:table-cell; width:50%; border:1px solid #c7c7c7; border-left:none; background:#ffffff; vertical-align:middle;}
.coupon .tab_menu ul li a {display:block; padding:10px 7px; color:#333333; text-align:center;  border-left:none; box-sizing:border-box;}
.coupon .tab_menu ul li:first-child{border-left:1px solid #c7c7c7}
.coupon .tab_menu ul li.active{}/*200622*/
.coupon .tab_menu ul li.active a {color:#689ce8; font-weight:bold; background-color:#689ce80f;}/*200622*/
.coupon .coupon_bx dl dd{position: relative;}
.coupon .coupon_bx dl dd a img{width:70px;}
.coupon .coupon_bx dl dd a.detail{position: absolute;left: 145px;top: -6px;}

.order_view h3 {text-indent:10px; line-height:42px; background:#f2f3f3; font-size:14px; font-weight:bold;}
.order_view .view_box {margin: 2px 0 0 0;}
.order_view .view_box dl {display:table; width:100%;font-size:0; border-bottom:1px solid #e8e8e8;}
.order_view .view_box dl dt {display:table-cell;width:120px;font-size:13px;font-weight:bold;color:#111;vertical-align: top;padding: 10px 10px 10px 10px; border-right:1px solid #e8e8e8;}
.order_view .view_box dl dd {display:table-cell; font-size:13px; color:#555;padding: 10px 10px 10px 10px;}
.order_view .view_box dl dd ul li{margin: 0 0 5px 0;}






/*** designpix.kkamu 정기배송관련mobile/subscribe/cart.php,mobile/subscribe/order.php  ***/

.dp_clear:after{display:block; content:''; clear:both;}
.dp_radio input[type="radio"] {display:none;}
.dp_radio input[type="radio"] + label span {
	display:inline-block;
	width:16px;
	height:16px;
	margin:-2px 7px 0 0;
	vertical-align:middle;
	background:url('../../img/ra_off.png') no-repeat;
	cursor:pointer;
}
.dp_radio input[type="radio"]:checked + label span {
	background:url('../../img/ra_on.png') no-repeat;
}
.dp_delivery{margin:15px 0 0px;}
.dp_dy_area ul li{
	box-sizing:border-box;
	width:96%;
	margin:0 auto;
}
.dp_dy_area ul li.left_cont{border-bottom:none;}
.dp_radio{
	border:1px solid #cecece;
}
.dp_radio div{
	color:#313131;
	font-size:15px;
	font-weight:bold;
}
.dp_radio.on{
	background:#fff;
}
.dp_radio.on div{
	color:#62b616;
}
.dp_radio label{
	display:block;
	padding:12px 15px;
}
.dp_radio i,
.dp_radio em{
	font-style:normal;
}
.dp_radio.on i {font-weight:bold;}
.dp_radio em{
	float:right;
	font-weight:bold;
}
.table_box table tr td .cont .dp_radio{
	display:inline-block;
	border:none;
	float:left;
/* 	width:50%; */
}
.table_box table tr td .cont .dp_radio label{padding:0px;}
.dp_order_box .cont{}
.dp_order_box .cont ul{

	padding:5px 3%;
	border-bottom:1px solid #e8e8e8;
}
.dp_order_box .cont ul li:after{display:block; content:''; clear:both;}
.dp_order_box .cont ul li span{
	display:inline-block;
	line-height:30px;
	font-size:13px;
}
.dp_order_box .cont ul li span.tit{
	float:left;
	color:#5e5e5e;
}
.dp_order_box .cont ul li span.txt{
	float:right;
	 color:#333;
}
.dp_order_box .cont ul li span i{
	font-style:normal;
	background:#d1751f;
	border-radius:5px;
	display:inline-block;
	width:28px;
	color:#fff;
	font-weight:bold;
	text-align:center;
	margin-right:5px;
	vertical-align:middle;
	line-height:18px;
	font-size:12px;
}
.day_input{
	width:70% !IMPORTANT;	
	vertical-align:middle;
}
.day_btn{
	width:29%;
	height:31px;
	line-height:31px;
	border:1px solid #666;
	color:#fff;
	background:#666;
	margin-left:1%;
	vertical-align:middle;
	font-weight:bold;
}







.cart_top_menu { width: 96%;margin: 10px auto 10px;}
.cart_top_menu ul li {float: left;margin: 0 1%;text-align: center;height: 32px;line-height: 32px;border: 1px solid #ddd;border-radius: 15px;width: 48%;box-sizing: border-box;}
.cart_top_menu ul li a {display: block;font-size: 14px;}
.cart_top_menu ul li.on a {font-weight: bold;color: #fff;}
.cart_top_menu ul li.on {background: #689ce8;border: 1px solid #689ce8;}






@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('fonts.googleapis.com/earlyaccess/notosanskr.css');

.general_payment{padding-top:10px;}
.payment_progress_select, .payment_progress_select li{box-sizing:border-box;}
.payment_progress_select:after{display:block; content:''; clear:both;}
.payment_progress_select li{
	display:block;
	width:96%;
	height:180px;
	background:#4f4f4f;
	border-radius:10px;
	position:relative;
	overflow:hidden;
	border:1px solid #4f4f4f;
	margin:0 auto 5px;
}
.payment_progress_select li .card_cont input[type='radio']{display:none}
.payment_progress_select li .card_cont .select_btn{
	position:absolute;
	right:20px;
	top:20px;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color:#fff;
}
.payment_progress_select li .card_cont input[type='radio']+label{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}
.payment_progress_select li .card_cont input[type='radio']:checked+label .select_btn{background:#fff url('../../img/check.png')no-repeat center;}
.payment_progress_select li .card_cont .card_info{padding:20px 15px 0 20px;}
.payment_progress_select li .card_cont .card_info .card_nm{
	font-size:20px;
	font-weight:bold;
	padding-left:35px;
	margin-top:60px;
	font-family:"Noto Sans KR", sans-serif;
	background:url('../../img/k_logo.png')no-repeat left center;
	background-size:30px;
	color:#fff;
}
.payment_progress_select li .card_cont .card_info  .card_num{
	font-size:16px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
	color:#fff;
}
.payment_progress_select li .card_cont .card_info .card_date{
	text-align:right;
	margin-top:10px;
	font-size:13px;
	font-weight:bold;
	font-family:'Roboto', sans-serif;
	color:#d6d6d6;
}
.payment_progress_select li .card_cont .card_info  .card_date i{
	font-family:"Noto Sans KR", sans-serif;
	font-style:normal;
	font-weight:normal;
}
.card_register{
	text-align:center;
	width:96%;
	box-sizing:border-box;
	margin:0 auto;
}
.card_register a{
	width:100%;
	border:none;
	vertical-align:middle;
	font-size:15px;
	font-weight:bold;
	padding:7px 18px;
	border-radius:5px;
	background:#efefef;
	font-family:"Noto Sans KR", sans-serif;
	display:block;
	font-weight:bold;
	box-sizing:border-box;
}

.order .order_box{clear:both;}



@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
#container{
	padding: 0 15px;
}
.card_area{margin:20px auto 50px;;}
.card_area .card_list, .card_area .card_list > *{box-sizing:border-box;}
.card_area .card_list{text-align:center;}
.card_register{
	display:inline-block;
	width:100%;
	font-size:16px;
	font-weight:bold;
	border:1px solid #f7f7f7;
	padding:7px 18px;
	border-radius:5px;
	background:#efefef;
}
.card_area .card_list .card_cont{
	display:inline-block;
	position:relative;
	width: 230px;
	height: 145px;
	margin-bottom: 15px;
	border-radius:10px;
	overflow:hidden;
	background: #fbfbfb url(/img/mo/order/card_bg_on.png) no-repeat center;
	background-size: contain;
}
.card_area .card_list .card_cont input[type='checkbox']{display:none}
.card_area .card_list .card_cont .select_btn{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #fff;
}
.card_area .card_list .card_cont input[type='checkbox']+label{
	display:block;
	width:100%;
	height:100%;
	cursor:pointer;
}
.card_area .card_list .card_cont input[type='checkbox']:checked+label .select_btn{background:#fff url('/img/mo/check_on.png')no-repeat center; background-size: contain;}
.card_area .card_list .card_cont .card_info{
	text-align:left;
	position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 25px;
}
.card_area .card_list .card_cont .card_info .card_nm{
    padding: 12px 0;
    line-height: 1;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
    background: url(../img/k_logo.png)no-repeat left center;
    background-size: 33px;
}
.card_area .card_list .card_cont .card_info  .card_num{
    line-height: 1;
	font-size: 12px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0.2px;
}
.card_area .card_list .card_cont .card_info  .card_date{
	margin: 6px 0 8px 0;
    line-height: 1;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    letter-spacing: normal;
}
.card_area .card_list .card_register button{
	width:100%;
	height:100%;
	border:none;
	vertical-align:middle;
	font-size:15px;
	font-weight:bold;
}
.card_area .del_tit{
	margin-top:25px;
	font-size:18px;
	padding-bottom:7px;
}
.card_area .del_btn{
	width:100%;
	font-size:16px;
	border:1px solid #999;
	background:#fff;
	padding:7px 18px;
	border-radius:5px;
}