@charset "utf-8";

/* cart */
.mu_cart #footer,
.mu_order #footer{padding-top: 0;}
.mu_cart .inp_chk input,
.mu.order .inp_chk input{
	margin: 0 5px 0 0;
	background: url(/img/mo/check_off2.png) no-repeat center;
    background-size: 20px;
}
.mu.order .inp_chk label{
	display: inline-block;
}
.mu_cart .inp_chk input:checked,
.mu.order .inp_chk input:checked{
	background: url(/img/mo/check_d_on.png) no-repeat center;
    background-size: 100%;
}

.mu.cart label,
.mu.cart strong,
.mu.cart p{color: #000;}
.mu.cart{
	min-height: 500px;
}

/* cart button */
.cart .cart_content_box .my_goods li .btn_list .coupon_btn button.cart_coupon_modify,
.cart .cart_content_box .my_goods li .btn_list .coupon_btn button.cart_coupon_cancel{
	display: inline-block;
    min-width: 94px;
    height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #303030;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 0 0 5px;
    padding: 0;
}
.mu.cart .my_goods li .btn_list .option_btn .cart_option_modify{
	display: inline-block;
    min-width: 94px;
    height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #303030;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 0 0 5px;
    padding: 0;
}
.mu.cart .my_goods li .btn_list .coupon_btn .cart_coupon_apply{
	display: inline-block;
    min-width: 94px;
    height: 30px;
    text-align: center;
    background: #ffbf27;
    border: 1px solid #ffbf27;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 0 0 0 5px;
    padding: 0;
}
.mu.cart .btn_wish_bx ul .cart_select_del_btn{
	display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    color: #b4b4b4;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 5px;
    padding: 0;
}
.mu.cart .btn_wish_bx ul .cart_select_order_btn{
	display: inline-block;
    width: 100%;
    height: 48px;
    text-align: center;
    background: #0F9DAC;
    border: 1px solid #0F9DAC;
    color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
	font-weight: 500;
}
.mu.cart .btn_wish_bx .cart_all_order_btn{
	display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    background: #303030;
    border: 1px solid #303030;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 15px;
    padding: 0;
}
.mu_cart .layer_option .popup_dn .btn_box2 span a{
	display: inline-block;
	width: 100%;
    height: 48px;
    text-align: center;
    background: #0F9DAC;
    border: 1px solid #0F9DAC;
    color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0;
	font-weight: 500;
	line-height: 48px;
}
.mu_cart .layer_coupon_apply .btn_box .ly_coupon_apply_btn1{
	display: inline-block;
    width: 100%;
    height: 30px;
    text-align: center;
    background: #303030;
    border: 1px solid #303030;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 500;
    box-sizing: border-box;
    font-size: 15px;
	padding: 0;
}


.mu.cart .cart_top{
	margin: 0 15px;
}
.mu.cart .cart_top .mu_chk_box{
	display: flex;
    justify-content: space-between;
    padding: 30px 0 15px;
}
.mu.cart .cart_top .mu_chk_box input{
	position: relative;
    top: 0;
    left: 0;
	width: 20px;
	height: 20px;
    z-index: initial;
    visibility: initial;
    vertical-align: middle;
	background: url(/img/mo/check_off.png) no-repeat center;
    background-size: contain;
}
.mu.cart .cart_top .mu_chk_box input:checked{
	background: url(/img/mo/check_on.png) no-repeat center;
    background-size: contain;
}
.mu.cart .cart_top .mu_chk_box label{
	font-size: 18px;
    line-height: 1;
    padding: 0 0 0 5px;
	vertical-align: middle;
}
.mu.cart .cart_top .mu_chk_box .alldel{
	position: relative;
}
.mu.cart .cart_top .mu_chk_box .alldel::after{
	content: "";
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 1px;
	background: #757575;
}
.mu.cart .cart_top .cartallcnt{
	font-size: 20px;
  	font-weight: 600;
  	color: #010101;
}

.mu.cart .cart_content_box .allchk{
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 30px 0 15px;
	margin: 0 15px;
	border: 0;
}
.mu.cart .cart_content_box .allchk .inp_chk label {
	font-size: 18px;
	vertical-align: middle;
}

.mu.cart .cart_content_box .del_btn_box {display: flex;}
.mu.cart .cart_content_box .del_btn_box .cart_select_del_btn {width: auto; font-weight: 500; border: 0; padding: 0; margin: 0; font-size: 13px; color:#000;}

.mu.cart .cart_content_box .allchk .alldel a{
	position: relative;
	color: #000;
	font-weight: 500;
	font-size: 13px;
}
.mu.cart .cart_content_box .allchk .alldel a::before{
	content: "";
	display: inline-block;
	width:1px;
	height:12px;
	background:#000;
	margin:0 5px 0 8px;
	vertical-align: middle;
}
.mu.cart .cart_content_box .cart_count{
	margin: 0 15px;
	padding-bottom: 10px;
    border-bottom: 1px solid #000;
    line-height: 1;
}
.mu.cart .cart_content_box .cart_count span{
	font-size: 16px;
    font-weight: 600;
}
.mu.cart .cart_content_box .my_goods{
	border-bottom: 7px solid rgba(231, 231, 231, 0.35);
}
.mu.cart .cart_content_box .my_goods > li{
	padding: 20px 0;
	margin: 0 15px;
	position: relative;
    border-top: 1px solid #e6e6e6;
}
.mu.cart .cart_content_box .my_goods > li:first-child{
	border: 0;
}
.mu.cart .cart_content_box .my_goods li .select_del_box{
	position: absolute;
    top: 0;
    right: -10px;
    width: 40px;
    height: 40px;
}
.mu.cart .cart_content_box .my_goods li .select_del_box .cart_onedel_btn{
    display: inline-block;
	width: 40px;
    height: 40px;
    font-size: 0;
    margin: 0;
    border: none;
    vertical-align: top;
    background: url('../../img/icon/icon_x3.png') no-repeat center;
    background-size: 13px;
    background-position: center;
}
.mu.cart .cart_content_box .my_goods li .mid_box{
	display: flex;
}
.mu.cart .cart_content_box .my_goods li .mid_box .left_box{
	display: inline-block;
	min-width: 6%;
    padding: 10px 0;
    font-size: 0;
    vertical-align: top;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box{
	display: block;
	position: relative;
    min-width: 94%;
    width: auto;
    padding: 0 0 0 12px;
    vertical-align: top;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .mu_item{
	display: flex;
}

.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead{
	display: block;
	min-width: 90px;
    max-width: 90px;
    vertical-align: top;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb{
	overflow: hidden;
    border-radius: 5px;
    line-height: 0;
    font-size: 0;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb img{
	width: 100%;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itemhead .thmb_box .thmb .timesale_box img{
	width: auto;
}

.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody{
    display: block;
	padding: 0 0 0 10px;
    vertical-align: middle;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody a{
	display: inline-block;
    max-width: 165px;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.name{
	font-size: 12px;
    line-height: 1.52;
    font-weight: 600;
    word-break: keep-all;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt{
	position: relative;
	font-size: 11px;
    line-height: 1.27;
    color: #868686;
    padding: 8px 0 0 12px;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt strong{
	font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: 500;
    margin: 0 8px 0 0;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt::after{
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 5px;
	height: 5px;
	border-left: 1px solid #626262;
	border-bottom: 1px solid #626262;
	opacity: 0.2;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.name{
	font-size: 12px;
    line-height: 1.52;
    font-weight: 600;
    word-break: keep-all;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt{
	position: relative;
	font-size: 11px;
    line-height: 1.27;
    color: #868686;
    padding: 8px 0 0 12px;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt strong,
.mu.order .order_depth1 .my_goods li .info .itembody p.mu_itemopt strong{
	font-size: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: 500;
    margin: 0 8px 0 0;
}
.mu.order .order_depth1 .my_goods li .info .itembody p.mu_itemopt::after {
	display:none;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody p.mu_itemopt::after{
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	width: 5px;
	height: 5px;
	border-left: 1px solid #626262;
	border-bottom: 1px solid #626262;
	opacity: 0.2;
}

.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .btn_list{
	justify-content: flex-end;
    position: relative;
    display: flex;
    padding: 10px 0 0 0;
    font-size: 0;
    text-align: right;
}
.mu.cart .cart_content_box .my_goods li .mid_box .right_box .info .itembody .btn_list{
	display: flex;
    justify-content: space-between;
    padding: 26px 0 0 0;
}
.mu.cart .cart_content_box .my_goods li .prc {
	display:block; padding: 20px 0 5px 0; font-size:16px; color: #000; font-weight:bold; text-align: right; line-height: 1;
}
.mu.cart .my_buy{
	padding: 30px 15px;
}
.mu .my_buy .mu_buy_bx{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
	
}
.mu .my_buy .mu_buy_bx .mu_buy_info{
	background: #f7f7f7;
	padding: 32px 28px;
}
.mu .my_buy .mu_buy_bx > div > dl{
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}
.mu .my_buy .mu_buy_bx .mu_buy_info dl.mu_buy_info{
	padding: 0 0 10px 0;
}
.mu .my_buy .mu_buy_bx .mu_buy_info .cart_count{
	padding-bottom: 40px;
}
.mu .my_buy .mu_buy_bx .mu_buy_info .cart_count span{
	font-size: 20px;
    font-weight: 600;
}
.mu .my_buy .mu_buy_bx .mu_buy_info dt{
	font-size: 16px; color: rgba(0, 0, 0, 0.65);
}
.mu .my_buy .mu_buy_bx .mu_buy_info dd strong{
	color: rgba(54, 54, 54, 0.65);
	font-size: 15px;
	font-weight: 500;
}
.mu .my_buy .mu_buy_bx .mu_buy_info dd strong span{
	/*margin: 0 3px 0 0;*/
}
.mu .my_buy .mu_buy_bx .mu_buy_total{
	background: #ffe270;
	padding: 32px 28px;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .total dt{
	width: 50%;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	background: url('/img/mo/icon_arrow2_close.png')no-repeat right 15px center;
	background-size: 10px auto;
}
.mu .my_buy .mu_buy_bx .mu_buy_total.on .total dt{
	background: url('/img/mo/icon_arrow2.png')no-repeat right 15px center;
	background-size: 10px auto;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .total dd strong{
	font-size: 23px;
	font-weight: 500;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage{
	display: flex;
    justify-content: space-between;
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.mu .my_buy .mu_buy_bx .mu_buy_total.on .forecase_mileage{
	height: 23px;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dt{
	position: relative;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 500;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dt::after{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 5px;
	height: 5px;
	border-left: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd{
	font-size: 14px;
	font-weight: 500;
}
.mu .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd strong{
	font-weight: 500;
}

#contents_wrap .mu.cart .cart_recommend{
	padding: 20px 0 30px 0;
}
#contents_wrap .mu.cart .cart_recommend .tit{
	padding: 0 15px;
	font-size: 20px;
	font-weight: bold;
	color: #010101;
}
#contents_wrap .mu.cart .cart_recommend .cont .mu_wrap{
	padding: 13px 0 0 15px;
}
#contents_wrap .mu.cart .cart_recommend .cont ._goods_display_main .t2{
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	overflow-x: scroll;
}
#contents_wrap .mu.cart .cart_recommend .cont ._goods_display_main .t2::-webkit-scrollbar{
	display: none;
}
#contents_wrap .mu.cart .cart_recommend .cont ._goods_display_main .t2 > li{
	min-width: 51%;
    max-width: 51%;
    margin: 0 10px 0 0;
}
#contents_wrap .mu.cart .cart_recommend .cont ._goods_display_main .t2 > li .best_sell{
	display: none;
}

.mu.cart .btn_payco{
	margin: 0 15px 20px;
}
.mu.cart .btn_payco .npay_type_MA_1{
	width: auto !important;
}
.mu.cart .btn_payco .npay_type_MA_1 .npay_button_box .npay_button{
	padding: 20px 0 20px 103px !important;
}
.mu.cart .btn_payco .npay_type_MA_1 .npay_button_box .npay_button .npay_text{
	top: 18px !important;
}
.mu.cart .btn_wish_bx{
	z-index: 2;
	position: sticky;
	bottom: 0;
	padding: 12px 15px;
	background: #fff;
}
/*
.mu.cart .btn_wish_bx.shadow{
	box-shadow: 0.3px 1px 18.7px 2.3px rgba(50, 50, 50, 0.15);
}
*/
.mu.cart .btn_wish_bx ul{
	padding: 0 0 13px 0;
}



/* Order Coupon Layer */
.mu.layer_coupon_apply_order .order{
	padding: 0 15px;
}
.mu.layer_coupon_apply_order .ly_content .ly_coupon_list h2{
	padding: 10px 0;
	border-bottom: 1px solid #000;
	border-top: none;
}
.mu.layer_coupon_apply_order .ly_content .ly_coupon_list .my_goods{
    width: 100%;
	margin: 0;
    border: none;
}
.mu.layer_coupon_apply_order .btn_box .ly_coupon_apply_btn{
    height: 48px;
	padding: 0;
	border-radius: 5px;
	background:#0F9DAC;
	color:#fff;
	border: 1px solid #0F9DAC;
	font-size: 16px; 
	font-weight: 500;
}

/* order */
.mu.order{
	min-height: 500px;
}
.mu.order .order_box.order_depth1{
	padding: 7px 0 7px;
	/*border: 0;*/
	border-bottom: 7px solid #f7f7f7;
}

.mu.order .how_to_pay .order_box.order_depth1 {
	border-bottom:0;
}

.mu.order .order_tit{
	color: #010101;
    font-size: 20px;
    padding: 15px;
    height: auto;
}
.mu.order .sub_tit{
	color: #010101;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    height: auto;
}
.mu.order .order_depth1 .order_tit span{
	position: relative;
	font-size: 12px;
	font-weight: 300;
	color: #868686;
	padding-left: 15px;
}
.mu.order .order_depth1 .order_tit span::after{
	content: "*";
    position: absolute;
    top: 0;
    left: 7px;
    color: #22a0ad;
    font-size: 15px;
    line-height: 1;
}


.mu.order .order_depth1 .my_goods li.order_goods_bx{
	overflow:hidden;
	border:1px solid #C9C9C9 !important;
	/*border-top: 1px solid #8d8a87;*/
	margin-top: 20px;
	border-radius:5px; 
}
.mu.order .order_depth1 .my_goods li.order_goods_bx:first-child{
	/*border: 0;*/
	/*margin-top: 0;*/
}
.mu.order .order_depth1 .my_goods li.order_goods_bx:last-child {
	margin:20px 0 18px 0;
}
.mu.order .order_depth1.order_goods_wrap .order_info .name {overflow:hidden;width:156px; text-overflow:ellipsis; white-space:nowrap;}
.mu.order .order_depth1 .my_goods .order_brandnm{
    display: flex;
	flex-flow:row nowrap;
	justify-content:space-between;
    padding: 6px 15px;
	font-size: 15px;
	color:#000;
	line-height: 18px;
	background:#f7f7f7;
}
.mu.order .order_depth1 .my_goods .order_brandnm .dv_i_t {color:#777; font-size:12px; letter-spacing:-1.2px; font-weight:normal;}
.mu.order .order_depth1 .my_goods .delivery_info_tit { text-align:left; color:#333;font-size:12px;font-weight:500; padding-top: 10px; line-height: 1; }

.mu.order .order_depth1 .my_goods li .info{
	padding: 17px 15px;
	border-bottom: 1px solid #c6c6c6;
	line-height: 1;
}
.mu.order .order_depth1 .my_goods li .info:last-child{
	border: 0;
}
.mu.order .order_depth1 .my_goods li .info .itembody p.mu_itemopt{
	padding: 0;
	font-size:12px;
	line-height:1.2;
}
.mu.order .order_depth1 .my_goods li .info .itembody .prc{
	padding: 7px 0 0 0;
}

.mu.order .pay .order_info.order_val_cg .name {padding-right:3px; background:none;}


.mu.order .order_depth1 .my_goods .delivery_box .tab_menu{
	margin-bottom: 20px;
}
.mu.order .order_depth1 .my_goods .delivery_box .tab_content .delivery_list_add li{
	display: inline-block;
    max-width: 92px;
    min-width: 70px;
    height: 30px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    font-size: 0;
}
.mu.order .order_depth1 .my_goods .delivery_box .tab_box .table_box.required_label {position:relative; } 

.mu.order .order_depth1 .my_goods .delivery_box .tab_content .delivery_list_add .dellvery_add_btn{
	display:inline-block; width:100%; height: 30px; line-height: 30px; padding: 0 17px; text-align:center; background: #ffbf27; border:1px solid #ffbf27; color:#ffffff; font-weight: normal; font-size: 13px; border-radius: 30px; box-sizing:border-box;
}
.mu.order .order_depth1 .my_goods .delivery_box .tab_content .delivery_list_add .dellvery_list_btn{
	display:inline-block; width:100%; height: 32px; line-height: 32px; padding: 0 17px; text-align:center; background:#ffffff; border: solid 1px  #B5B5B5;; color:  #B5B5B5;; font-weight: normal; font-size: 14px; border-radius: 30px; box-sizing:border-box;
}
.mu.order .order_depth1 .my_goods .delivery_box .tab_content .delivery_list_add .dellvery_list_btn.on{
	border: 1px solid #B5B5B5; color: #FFF; background:#109EA8;
}
.mu.order .order_depth1 .my_goods .delivery_box .preview_shipping_info {padding:0 5px 0;color:#000;}
.mu.order .order_depth1 .my_goods .delivery_box .preview_shipping_info p {line-height:1.2;}
.mu.order .order_depth1 .my_goods .delivery_box #tab3 .member_chk_box1 {padding:0 0 13px;}

.mu.order .order_depth1 .my_goods .delivery_box .delivery_comment{padding:0 !important;}
.mu.order .order_depth1 .my_goods .delivery_box .delivery_comment .orderMemo_select{
	width:100%; height:50px; padding:12px 15px; font-size:13px; line-height:15px; border-radius:5px; border:1px solid #DFDFDF;
}
.mu.order .order_depth1 .my_goods .delivery_box .delivery_comment #orderMemo {min-height:47px; margin:9px 0 0;}


.mu.order .order_depth1 .my_goods .delivery_box .delivery_comment{
	/*margin-top: 5px;*/
}
.mu.order .zipcode_btn1{
	display:inline-block; width:100%; height: 50px; text-align:center; background: #fff; border: 1px solid #dfdfdf; border-radius: 5px; color: #777; font-size: 15px; font-weight: 500; box-sizing:border-box;
}
.mu.order table{
	width: 100%;
}
.mu.order .order_box .table_box table{
	border: 0;
}
.mu.order .order_box .table_box table td{
	border: 0;
	padding: 10px 5px;
}
.mu.order .order_box .table_box table td span.required{
	position: relative;
}

#cash_receipt_info h2.required {padding:10px 5px 0; font-size:15px; line-height:15px; position:relative; }
#cash_receipt_info ul.js_gd5_cash_receipt_info {padding:0 5px; }
#cash_receipt_info h2.required::after{
	content: "*";
	position: absolute;
	top: 11px;
	right: -5px;
	color: #22a0ad;
	font-size: 15px;
	line-height: 1;
}
.mu.order .order_box .table_box table td span.required::after{
	content: "*";
	position: absolute;
	top: 0;
	right: -10px;
	color: #22a0ad;
	font-size: 15px;
	line-height: 1;
}
.mu.order .order_box .table_box table td span label{
    display: inline-block;
	margin-bottom: 8px;
	font-size: 15px;
	font-weight: 500;
	line-height: 1;
	color:#000;
}
.mu.order .inp_sel select{
	height: 50px;
	border: 1px solid #dadada;
	border-radius: 5px;
}
.mu.order .order_depth1 .my_goods .mu_discount dl{
	padding: 18px 0 0 0;
}
.mu.order .order_depth1 .my_goods .mu_discount dt{
	padding: 0 0 11px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 19px;
	height:29px;
}
.mu.order .order_depth1 .my_goods .mu_discount dl.order_coupon{
	/*padding-bottom: 10px;*/
}
.mu.order .order_depth1 .my_goods .mu_discount dl.order_coupon .coupon_search_apply_btn{
	display: inline-block; 
	width: 100%; 
	height: 50px; 
	line-height: 50px; 
	padding: 0; 
	text-align: center; 
	background: #fff; 
	border: 1px solid #0F9DAC; 
	border-radius: 5px; 
	color: #0F9DAC; 
	font-size: 15px; 
	font-weight: 500; 
	box-sizing:border-box;
}
.mu.order .order_depth1 .my_goods .mu_discount dl.order_coupon .pay_benefits{
	padding: 10px 0 0 0;
}
.mu.order .order_depth1 .my_goods .mu_discount dl.order_coupon .pay_benefits p{
	font-size: 12px;
	line-height: 2;
    color: #868686;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_left{
	width: 70%;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_right{
	width: 28%;
    min-width: 90px;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_right input{
	display: none;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_right label{
    display: inline-block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    color: #0F9DAC;
    font-weight: 500;
    text-align: center;
	border: 1px solid #0F9DAC;
    border-radius: 5px;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_right label.on{position:relative;font-size:0;}
.mu.order .order_depth1 .my_goods .mu_discount dd .all_money_box .money_right label.on:before{position:absolute; content:'초기화';display:block;width:100%; height:100%; font-size:15px;}
.mu.order .order_depth1 .my_goods .mu_discount dd .point_view{
	text-align: right;
	margin-top: 5px;
}
.mu.order .order_depth1 .my_goods .mu_discount dd .point_view p{
	font-size: 12px;
	line-height:15px;
    color: #777777;
}

.mu.order .my_buy .mu_buy_bx{
	margin-top: 0 !important;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info dl{
	margin-bottom: 3px;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_1depth dt{
	padding-right: 20px;
    background: url(/img/mo/icon_arrow2_close.png)no-repeat right center;
    background-size: 9px auto;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_1depth.on dt{
	background: url(/img/mo/icon_arrow2.png)no-repeat right center;
    background-size: 9px auto;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_2depth{
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_2depth.on{
	height: 23px;
	margin-bottom: 20px;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_2depth dt{
	position: relative;
	padding-left: 12px;
	font-size: 12px;
	font-weight: 500;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_2depth dt::after{
	content: "";
	position: absolute;
	left: 2px;
	top: 5px;
	width: 5px;
	height: 5px;
	border-left: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage{
	align-items: flex-start;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total.on .forecase_mileage{
	height: 45px;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd{
	text-align: right;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd .mileage strong{
	font-size: 15px;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd .mileage span{
	font-size: 12px;
  	font-weight: 300;
  	color: #000;
}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .forecase_mileage dd .mileage span input{
	display: none;
}

.mu.order .order_box .pay_mth.mu_settle_general li {
	width: calc(100% / 3 - 5px);
	margin-right: 5px;
}
.mu.order .order_box .pay_mth.mu_settle_general li:nth-child(3),
.mu.order .order_box .pay_mth.mu_settle_general li:nth-child(6){
	margin-right: 0;
}

.mu.order .how_to_pay {padding-bottom: 75px;}
.mu.order .how_to_pay .agr_context_box {padding:0 15px 0;}
.mu.order .how_to_pay .agr_context_box .agr_title {margin:0 0 9px;}
.mu_order .how_to_pay .agr_context_box .dh_guest_agr {margin:0 0 15px;}
.mu.order .how_to_pay .agr_context_box .agr_title > label {display:inline-block; height:22px; padding:1px 0 1px 27px; font-size:15px; line-height:20px; color:#000; background:url(/img/mo/check_off2.png) no-repeat center left; background-size:22px;}
.mu.order .how_to_pay .agr_context_box .agr_title > label.on {background:url(/img/mo/check_d_on.png)no-repeat center left; background-size:contain; }
.mu.order .how_to_pay .agr_context_box .agr_cont {padding:13px 20px; background:#F7F7F7; border-radius:5px;}
.mu.order .how_to_pay .agr_context_box .agr_cont .agr_title_box {font-size:13px; line-height:20px; color:#777;}
.mu.order .how_to_pay .agr_context_box .agr_cont .agr_title_box span {padding-left:100px;float:right; text-decoration:underline;}
.mu.order .how_to_pay .agr_context_box .g_content {display:none;}
.mu.order .how_to_pay .agr_context_box .g_content .info {position:fixed; top:50%; left:50%; width:80%; z-index:100; margin:0 auto; padding:20px; height:auto; background:#FFF; transform:translate(-50%, -50%); border-radius:15px;}
.mu.order .how_to_pay .agr_context_box .g_content .info h2 {font-size:18px; margin:0 0 15px;  }
.mu.order .how_to_pay .agr_context_box .g_content .info .info_txt {overflow:scroll; max-height:50vh; font-size:13px;}
.mu.order .how_to_pay .agr_context_box .g_content .info .info_e {margin:15px 0 0; font-size:15px; font-weight:bold; text-align:right; color:#109EA8;}
.mu.order .how_to_pay .agr_context_box .g_content .dim {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99; margin:0 !important; background:#0000003D; }
.mu.order .how_to_pay .agr_context_box .agr_title_box.open + .g_content {display:block; }


.mu.order .how_to_pay .my_buy .sel_pay > li{
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.mu.order .how_to_pay .how_to_pay_arrow{
	display: inline-block;
    width: 23px;
	height: 23px;
	background: url(../img/icon/icon_arrow1.png) no-repeat right center;
    background-size: 11px 7px;
}
.mu.order .how_to_pay .how_to_pay_arrow.active{
	background: url(../img/icon/icon_arrow1_on.png) no-repeat right center;
    background-size: 11px 7px;
}
.mu.order .how_to_pay .how_to_pay_arrow{
	background: url(../img/icon/icon_arrow1.png) no-repeat right bottom;
	background-size: 11px 7px;
}
.mu.order .how_to_pay .how_to_pay_arrow.active{
	background: url(../img/icon/icon_arrow1_on.png) no-repeat right bottom;
    background-size: 11px 7px;
}
.mu.order .how_to_pay #settlekind_payco > div{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.mu.order .how_to_pay h2.sel_pay{
	width: 100%;
}
.mu.order .how_to_pay .how_to_pay_arrow{
	float: right;
}
.mu.order .how_to_pay .pay_mth.mu_settle_general li span.inp_rdo{
	width: 100%;
}
.mu.order .how_to_pay .pay_mth.mu_settle_general li span.inp_rdo label{
	position: relative;
	display: inline-block;
	width: 100%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    /*margin: 5px 0 0 0;*/
    font-size: 15px;
	line-height:50px;
	color:#777;
	border:1px solid #DFDFDF;
	border-radius:5px;
	background:#FFF !important;
}
.mu.order .how_to_pay .pay_mth.mu_settle_general li span.inp_rdo label.on {
	color:#0F9DAC;
	border:1px solid #0F9DAC;
}
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pk span.inp_rdo label img{display: none;}
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pk span.inp_rdo label {position:relative;}
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pk span.inp_rdo label:before {content:'카카오페이';position:absolute; display:block; width:100%; height:100%; }
/*
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_gb span.inp_rdo label{background: url(/img/mo/order/nobankbook_off.png)no-repeat center; background-size: contain;}/* 무통장입금
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_gb span.inp_rdo input:checked ~ label{background: url(/img/mo/order/nobankbook_on.png)no-repeat center; background-size: contain;}/* 무통장입금
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pc span.inp_rdo label{background: url(/img/mo/order/credit_off.png)no-repeat center; background-size: contain;}/* 신용카드
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pc span.inp_rdo input:checked ~ label{background: url(/img/mo/order/credit_on.png)no-repeat center; background-size: contain;}/* 신용카드 
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pb span.inp_rdo label{background: url(/img/mo/order/account_off.png)no-repeat center; background-size: contain;}/* 계좌이체
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pb span.inp_rdo input:checked ~ label{background: url(/img/mo/order/account_on.png)no-repeat center; background-size: contain;}/* 계좌이체
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pv span.inp_rdo label{background: url(/img/mo/order/virtual_off.png)no-repeat center; background-size: contain;}/* 가상계좌 
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pv span.inp_rdo input:checked ~ label{background: url(/img/mo/order/virtual_on.png)no-repeat center; background-size: contain;}/* 가상계좌 
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pk span.inp_rdo label{background: url(/img/mo/order/kakaopay_off.png)no-repeat center; background-size: contain;}/* 카카오페이
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pk span.inp_rdo input:checked ~ label{background: url(/img/mo/order/kakaopay_on.png)no-repeat center; background-size: contain;}/* 카카오페이 
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pn span.inp_rdo label{background: url(/img/mo/order/naverpay_off.png)no-repeat center; background-size: contain;}/* 네이버페이 
.mu.order .how_to_pay .pay_mth.mu_settle_general li#settlekind_type_pn span.inp_rdo input:checked ~ label{background: url(/img/mo/order/naverpay_on.png)no-repeat center; background-size: contain;}/* 네이버페이		 */

.mu.order .how_to_pay .pay_mth.mu_settle_general li span.inp_rdo input{
	display: none;
}

.mu.order .how_to_pay .sel_pay{
	padding: 15px 0 10px 0;
}

.mu.order .how_to_pay .sel_pay label{
	font-size: 18px;
	font-weight: normal;
	color: #000;
	vertical-align: middle;
}

.mu.order .how_to_pay .sel_receipt{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.mu.order .how_to_pay .sel_receipt h2{
	font-size: 15px;
	font-weight: 500;
    color: #000;
}
.mu.order .how_to_pay .sel_receipt ul{
}
.mu.order .how_to_pay .sel_receipt ul li{
	width: calc(100% / 3);
	padding-right: 10px;
}
.mu.order .how_to_pay .sel_pay span img{
	width: 20px;
	margin-right: 5px;
}
.mu.order .how_to_pay #settlekind_payco #paycoDisplayID img{
	width: 0;
}
.mu.order .how_to_pay #settlekind_payco .pay_mth_payco li span{
	padding: 0;
	margin: 15px 5px 0 0;
}
.mu.order .how_to_pay #settlekind_payco .pay_mth_payco li span:nth-child(even){
	margin-right: 0;
}
.mu.order .how_to_pay #settlekind_payco .pay_mth_payco li span input[type="radio"]:checked {background:url('/img/mo/icon_radio_check_b.png')no-repeat center; background-size:20px;}
.mu.order .how_to_pay #settlekind_toss{
	
}
.mu.order .how_to_pay #settlekind_toss .billing_key{
	display: flex;
	width: 100%;
	margin: 0 0 15px;
	overflow-x: auto;
}
.mu.order .how_to_pay #settlekind_toss .billing_key *{
	color: #fff;
}
.mu.order .how_to_pay #settlekind_toss .billing_key::-webkit-scrollbar{
	display: none;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab{
	position: relative;
	/*width: 70%;*/
    min-width: 233px;
    min-height: 145px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
	margin: 0 7px 0 0;
	padding: 10px 23px;
	background: url(/img/mo/order/card_bg_off.png)no-repeat center;
	background-size: 103%;
	border:1px solid #1D8C97;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.on{
	background: url(/img/mo/order/card_bg_on.png)no-repeat center;
	background-size: 103%;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab1{
	display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab1 .inp_rdo .choice_s{
	display: inline-block;
	width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    background: url(/img/mo/check_off.png) no-repeat center;
    background-size: 100%;
	
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab1 .inp_rdo .choice_s.on{
	background: url(/img/mo/check_on.png) no-repeat center;
    background-size: 100%;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab2{
	position: absolute;
    bottom: 0;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab2 .billing_tab_bank{
	font-size: 15px;
	line-height: 1;
    padding: 14px 0;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab2 .billing_tab_num{
	font-size: 12px;
	letter-spacing: 0.2px;
	font-weight: 300;
	line-height: 1;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab2 .billing_tab_date{
	font-size: 11px;
	font-weight: 300;
    letter-spacing: normal;
	line-height: 1;
    margin: 6px 0 8px 0;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add{
	background: #f7f7f7;
	border:1px solid #DFDFDF;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add .billing_tab2{
	bottom: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add .billing_tab2 .sub_cart_register_con1{
	font-size: 13px;
	font-weight: 600;
	color: #303030;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add .billing_tab2 .sub_cart_register_con span{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 0;
	border-radius: 100%;
	background: url('../img/order/icon_plus_card.png')no-repeat center;
	background-size: contain;
}
.mu.order .how_to_pay #settlekind_toss .sub_cart_register_con span{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 3px 0;
	border-radius: 100%;
	background: url('../img/order/icon_plus_card.png')no-repeat center;
	background-size: contain;
}
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add .billing_tab2 .sub_cart_register_con2,
.mu.order .how_to_pay #settlekind_toss .billing_key .billing_tab.add .billing_tab2 .sub_cart_register_con3{
	font-size: 11px;
	font-weight: normal;
	color: rgba(48, 48, 48, 0.8);
}

.mu.order .btn_pay_wrap{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 12px 15px;
    background: #fff;
    z-index: 20;
}
.mu.order .order_box .guest_info .inp_chk{
	display: flex;
    align-items: flex-start;
	padding: 0 0 10px;
	border: none;
}
.mu.order .order_box .guest_info .inp_chk > label {font-size:15px; line-height:20px; color:#000; font-weight:400;}

.mu.order .order_box .guest_info .agr_title_box {padding:12px 20px; color:#777777; font-weight:400; line-height:15px; font-size:12px; background:#F7F7F7;border-radius:5px;}
.mu.order .order_box .guest_info .agr_title_box span {float:right;}
.mu.order .order_box .guest_info .agr_title_box.open {border-radius:5px 5px 0 0;}
.mu.order .order_box .guest_info .agr_title_box.open + .g_content {height:auto; background:#F7F7F7;}

/*
.mu.order .btn_pay_wrap.shadow{
	box-shadow: 0.3px 1px 18.7px 2.3px rgba(50, 50, 50, 0.15);
}
*/
.mu.order .btn_pay_wrap .inp_chk label{
    display: inline-block;
	width: 80%;
    vertical-align: top;
}
.mu.order .btn_pay_wrap .inp_chk a.view_cont{
	display: inline-block;
    width: 12px;
    height: 18px;
    background: url(/img/mo/icon_arrow.png) no-repeat center;
    background-size: 10px;
    float: right;
}
.mu.order .order_box .guest_info .g_content{
	overflow: hidden;
    height: 0;
    transition: height 0.3s;
}
.mu.order .order_box .guest_info .g_content > div{
	height: inherit;
	margin: 0 20px 20px;
    padding: 20px 0;
    /*border-top: 1px solid #eee;*/
    overflow: hidden;
    overflow-y: scroll;
}
.mu.order .order_box .guest_info .g_content.on{
	height: 120px;
	margin-bottom: 20px;
}
.mu.order .btn_pay_wrap .order_payment_btn{
	display: inline-block; 
	width: 100%; 
	height: 48px; 
	padding: 0; 
	font-size: 16px; 
	text-align: center; 
	background: #0F9DAC; 
	border: 1px solid #0F9DAC;
	border-radius: 5px;
	color:#ffffff; 
	font-weight: normal; 
	box-sizing: border-box;
	font-weight: 400;
}


/* order_end */
.mu.order_end .tx2{
	text-align: center;
}
.mu.order_end .tx2 *{
	display: block;
	text-align: center;
}
.mu.order_end .tx2 .img_deposit_plz{
	width: 70px;
	margin: auto;
}
.mu.order_end .tx2 .img_order_end{
	width: 30px;
	margin: auto;
}
.mu.order_end .order_end_box .mu_buy_total{
	background: #F7F7F7;
	margin: 0 15px;
	padding: 23px 20px;
	/*border-radius: 5px;*/
	overflow: hidden;
}
.mu.order_end .order_end_box .mu_buy_total dl{
	display: flex;
    align-items: center;
    justify-content: space-between;
}
.mu.order_end .order_end_box .mu_buy_total .total dt{
	width: 50%;
    text-align: left;
	font-size: 17px;
	font-weight: bold;
	line-height:20px;
	color: #000;
	/*background: url('/img/mo/icon_arrow2.png')no-repeat right 15px center;*/
	background:none;
	background-size: 10px auto;
}
.mu.order_end .order_end_box .mu_buy_total.on .total dt{
	/*background: url('/img/mo/icon_arrow2_close.png')no-repeat right 15px center;*/
	background:none;
	background-size: 10px auto;
}
.mu.order_end .order_end_box .mu_buy_total .total dd .prc{
	font-size: 17px;
	color:#109EA8;
	font-weight: bold;
	line-height:20px;
}
.mu.order_end .order_end_box .mu_buy_total .cs_mileage{
 display:block; text-align:right; color:#777777; font-size:13px; line-height:15px;
}
.mu.order_end .order_end_box .mu_buy_total .mileage{
    align-items: flex-start;
    /*height: 0;*/
	overflow: hidden;
	transition: all 0.3s;
}
.mu.order_end .order_end_box .mu_buy_total.on .mileage{
    /*height: 40px;*/
}
.mu.order_end .order_end_box .mu_buy_total .mileage dt{
	position: relative;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 500;
}
.mu.order_end .order_end_box .mu_buy_total .mileage dt::after{
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	width: 5px;
	height: 5px;
	border-left: 1px solid #626262;
	border-bottom: 1px solid #626262;
}
.mu.order_end .order_end_box .mu_buy_total .mileage dd{
	text-align: right;
	font-size: 14px;
	font-weight: 500;
}
.mu.order_end .order_end_box .mu_buy_total .mileage dd{
	font-size: 14px;
	font-weight: 500;
}
.mu.order_end .order_end_box .mu_buy_total .mileage dd span{
	display: block;
	font-size: 12px;
    font-weight: normal;
}

.mu.order_end .order_end_box .tx ul li p{
	display:flex;
	line-height: 1;
    padding: 7px 0;
    font-size: 15px;
    color: #000;
}
.mu.order_end .order_end_box .tx ul li p span{
	margin: 0 13px 0 0;
	min-width:70px;
    font-weight: 500;
    color: #868686;
		font-weight:normal;
}
.mu.order_end .order_end_box .tx ul li p strong{
	color: #000;
	font-size: 15px;
	font-weight:normal;


}
.mu.order_end .order_end_box .tx ul li .cs {/*position:relative; */display:flex; align-items:center;}
.mu.order_end .order_end_box .tx ul li .copy_bankAcc {/*position:absolute; left:260px; top:3px;*/ display:block; margin-left:10px; font-size:10px; border:1px solid #777; border-radius:3px; width:60px; height:19px; line-height:19px; letter-spacing:-0.5px; text-align:center; }


/* order gift - 선물하기 페이지 202303 */
.mu.order .gift_letter {
    background: #fff;
    padding: 10px 15px 7px;
}
.mu.order .gift_letter > p{
	font-size: 15px;
	font-weight: 500;
	color: #000;
	padding: 7px 0;
}
.mu.order .gift_letter_bg{
	width: 100%;
}
.mu.order .gift_letter_bg > textarea{
	left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    color: #000;
    resize: none;
    overflow-y: scroll;
}
.mu.order .gift_letter_bg > img {
    border-radius: 5px;
}
.mu.order .gift_letter_thumb {
    padding: 0 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mu.order .gift_letter_thumb button {
    width: 24%;
    margin-right: 0;
    padding: 0;
    border: none;
}
.mu.order .gift_letter_thumb button.thumb_sel{
	border: none !important;
}
.mu.order .gift_letter_thumb button > img {
    border-radius: 5px;
}

/* S :: 240325 주문서페이지 개발&퍼블건 */
.required_stand {position:relative;}
span.required_tag {display:block; position:absolute; right:0; top:0; font-size:10px; line-height:10px;  }
span.required_tag > em {color:#109EA8;}

.mu.order .my_buy .mu_buy_bx .mu_buy_info{ background:none; padding:20px 0; }
.mu.order .my_buy .mu_buy_bx .mu_buy_info dl {margin:20px 0 0;  }
.mu.order .my_buy .mu_buy_bx .mu_buy_info dl * {color:#000;font-size:17px; line-height:20px;}
.mu.order .my_buy .mu_buy_bx .mu_buy_info dl:first-of-type {margin:0; }
.mu.order .my_buy .mu_buy_bx .mu_buy_info dl dd strong {font-weight:bold;}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_1depth dt,.mu.order .my_buy .mu_buy_bx .mu_buy_info .discount_2depth dt {background:none !important;}
.mu.order .my_buy .mu_buy_bx .mu_buy_info .total_order_prc_detail {margin:12px 0 0 4px; }
.mu.order .my_buy .mu_buy_bx .mu_buy_info .total_order_prc_detail * {color:#777; font-size:14px; line-height:24px; font-weight:normal; }
.mu.order .my_buy .mu_buy_bx .mu_buy_info .total_order_prc_detail dl {display:flex; flex-flow:row nowrap; justify-content:space-between; margin:0;}
.mu.order .my_buy .mu_buy_bx .mu_buy_total {background:none; padding:20px 0 15px; border-top:1px solid #C9C9C9;}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .total {align-items:flex-start;}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .total * {font-size:20px; line-height:24px; font-weight:bold;}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .total dt {background:none !important;}
.mu.order .my_buy .mu_buy_bx .mu_buy_total .total dd {color:#109EA8; }
.mu.order .my_buy .mu_buy_bx .rd_totalMileage {margin:3px 0 0; }
.mu.order .my_buy .mu_buy_bx .rd_totalMileage * {color:#777; }

.mu.order .all_money_box .money_left input {color:#0F9DAC !important;}	

#settlekind_toss .billing_tab.on .inp_rdo input:checked {margin:0; background:url('/img/mo/order/icon_choice_card_gray.png')no-repeat center; background-size:contain;}

.mu.order .order_box .bank_sender_nm label {display:block; color:#777; font-size:12px; line-height:15px;margin:10px 0 0;}
.mu.order .order_box .orderMemo > label {margin:5px 0 0;}

/* E :: 240325 주문서페이지 개발&퍼블건 */