@charset "utf-8";
/*───────────────────────────────────────────────────────────

	 리스트 타입 및 옵션

───────────────────────────────────────────────────────────*/
@import url("../goods/goods.css");
@import url("../musign/mu_main.css");


/*** 쇼핑몰 메인본문 | main/index.php ***/

.main {/*overflow-x:hidden;*/}/* 202010 */
.main .main_top_menu {display:table; width:100%;}
.main .main_top_menu li {display:table-cell; width:25%; text-align:center;}
.main .main_top_menu li a {display:block; padding:13px 0 13px 0;font-size:14px; color:#333333;}
.main .main_notice {display:table; width:100%; margin:0 auto; padding:22px 0 22px 0;}
.main .main_notice .tit {display:table-cell; width:84px; font-size:13px; font-weight:bold; color:#282828; text-align:center;}
.main .main_notice ul {display:table-cell;}
.main .main_notice ul li {overflow:hidden; width:80%; display:-webkit-box; text-overflow:ellipsis; -webkit-line-clamp:1; -webkit-box-orient:vertical; letter-spacing:-1px;}
.main .main_notice ul li a {display:block; width:100%;}
/* 메인배너 */
.main .main_banner_box {font-size:0;}
.main .main_banner_box img {width:100%; font-size:0;}
.main .main_banner_box1 {display:table; width:100%;}
.main .main_banner_box1 li {display:table-cell; width:50%; font-size:0; text-align:center; vertical-align:top;}
.main .main_banner_box1 li a {}
.main .main_banner_box1 li a img {width:100%; font-size:0;}
.main .main_banner_box2 {padding:10px 0; font-size:0;}
.main .main_banner_box2 img {width:100%; font-size:0;}

/* 이벤트 최근게시물 */
.main .main_event {}
.main .main_event ul {}
.main .main_event ul li {position:relative; padding:7px 0;}
.main .main_event ul li .img_box {font-size:0;}
.main .main_event ul li .img_box img {width:100%;}
.main .main_event ul li .event_info_box {/*position:absolute; bottom:7px; left:0;*/ width:100%; }
.main .main_event ul li .event_info_box dl {padding:20px; background:rgba(255,255,255,0.8); box-sizing:border-box;}
.main .main_event ul li .event_info_box dl dt {}
.main .main_event ul li .event_info_box dl dt a {display:block; font-size:17px; color:#222222; font-weight:bold;}
.main .main_event ul li .event_info_box dl dd {font-size:15px; color:#ab295d; font-weight:bold;}

/* 하단 정보 BOX */
.main .main_info_box {padding:0 10px}
.main .main_info_box .main_info {display:table; width:100%; margin:0 auto; padding:12px 0 12px 0; text-align:center;}
.main .main_info_box .main_info dl {display:table-cell; width:50%; text-align:left; vertical-align:top;}
.main .main_info_box .main_info dl dt {font-size:13px; margin:0 5px; font-weight:bold; border-bottom:1px solid #999;}
.main .main_info_box .main_info dl dd {font-size:11px; padding-left:5px;}

/* CS CENTER */
.main .main_info dl dd p.phone {padding:5px 0;}
.main .main_info dl dd p.phone a {font-size:22px; color:#ab3e55;}
.main .main_info dl dd p.business_hours {font-size:11px; color:#666;}

/* BANK INFO */
.main .main_info dl dd .account_holder {padding:11px 0; font-size:14px;}
.main .main_info dl dd ul.main_bank {display:table-cell;}
.main .main_info dl dd ul.main_bank li { vertical-align:middle;}
.main .main_info dl dd ul.main_bank li span {font-weight:bold;}

/* 메인 띠배너 202010 */
.bn_main_mid {width:100%; margin-top:20px;}/* 2021-04-01 */
.bn_main_mid .slick-slide {border-radius:0 !important;}
.bn_main_mid button {background-size:70% auto !important; top:52% !important;}
.bn_main_mid .slick-dots {top:2px !important; text-align:right !important;}

/* 메인 타임세일 202010 */
.time_item_cont a{display: block;}
.time_item_cont .time_item_cont_photo{position: relative; width: 100%; overflow: hidden; box-sizing: border-box;}
.time_item_cont .time_item_cont_photo img{width: 100%;}
.time_item_cont .time_item_cont_info{width: 100%; vertical-align:middle; box-sizing: border-box; line-height:1;}
.time_item_cont .time_item_cont_info .dp_dis_area{font-size: 16px; letter-spacing: -0.5px; color:#22a0ad; padding: 0; font-weight:500;}
.time_item_cont .time_item_cont_info .dp_dis_area i{font-size:16px; font-style:normal;}
.time_item_cont .time_item_cont_info .time_goods_nm{word-break: break-all; font-size: 13px; letter-spacing: -1px; line-height:1.4; color:#333;}
.time_item_cont .time_item_cont_info .price_cont{font-size: 16px; font-weight: 500; letter-spacing: -0.5px;color:#333;}
.time_item_cont .time_item_cont_info .ori_price{display: block; font-size: 13px; color: #999; text-decoration: line-through; margin: 0; font-weight:300;}
.time_item_cont .MTS_time {position: absolute; top: 0; font-size:27px; font-weight:700; color:#f85b5b;}
.time_item_cont .MTS_time span {}
.time_item_cont .MTS_stock {border-radius:20px; border:0.5px solid rgba(255,255,255,0.4); padding:3px 16px 2px !important; font-size:12px !important;; display:inline-block; text-align:center; margin-top:5px; color:#fff !important;}
.time_item_cont .MTS_stock strong {}
.time_item_cont .MTS_time_tit {margin:0; padding:20px 20px 7px; background:#f5f5f5 url(/data/skin/mobile/mo__designart_C_C/img/common/bg_hotdeal_m.png) no-repeat 85% bottom; background-size:auto 42px;}/* 2022-06-02 */
.time_item_cont .main_timeSale .star {display:none;}

/* 메인 베스트리뷰 2021-12-29 */
.bestRV_wrap {white-space:nowrap; overflow-x:scroll;}
.bestRV {background:#f8f8f8; border-radius:5px; padding:11px 14px; box-sizing:border-box; margin:10px 10px 0 0; width:90%; display:inline-block; white-space:normal;}
.bestRV_img {display:inline-block; width:27%; vertical-align:middle; line-height:0;}
.bestRV_img > img {height:auto; width:100%; border-radius:5px;}
.bestRV_txt {display:inline-block; width:66%; margin-left:4%; vertical-align:middle; letter-spacing:-1px;}
.bestRV_txt .bestRV_id {color:#999; font-size:11px; letter-spacing:0;}
.bestRV_txt .bestRV_cts {height:48px; overflow:hidden; margin-top:7px; font-size:12.5px; line-height:1.3; color:#777; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; text-overflow:ellipsis;}
.bestRV_txt .bestRV_goods {font-size:13px; color:#222; font-weight:500;}
.score_icon > img {height:13px; vertical-align:middle; margin-right:5px;}


/* Slider */
.mainRV .slick-slider button {display:none !important;}

.mainRV .slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.mainRV .slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.mainRV .slick-list:focus
{
    outline: none;
}
.mainRV .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.mainRV .slick-slider .slick-track,
.mainRV .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.mainRV .slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mainRV .slick-track:before,
.mainRV .slick-track:after
{
    display: table;

    content: '';
}
.mainRV .slick-track:after
{
    clear: both;
}
.mainRV .slick-loading .slick-track
{
    visibility: hidden;
}

.mainRV .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}

.mainRV .slick-initialized .slick-slide
{
    display: block;
}
.mainRV .slick-loading .slick-slide
{
    visibility: hidden;
}
.mainRV .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.mainRV .slick-arrow.slick-hidden {
    display: none;
}

.main_bn_tit {margin:30px 15px 7px;}/* 메인띠배너 2022-01-11 */
.main_bn_img {line-height:0;}/* 메인띠배너 2022-01-11 */
.main_bn_img > a > img {width:100%; line-height:0;}/* 메인띠배너 2022-01-11 */

/* 메인 슬라이드 띠배너 2022-07-22 */
.main_slider_small{}
.main_slider_small .swiper-wrapper{margin:15px 0 0 15px;}
.main_slider_small .swiper-slide{width:80% !important; margin:0 10px 0 0;}
.main_slider_small img{width:100%; border-radius:10px; overflow:hidden;}

/* 메인 슬라이드 띠배너 2022-07-22 */
.main_slider_small{margin:15px 0 15px 15px;}
.main_slider_small button{display:none !important;}
.main_slider_small .slick-slide{width:280px !important; margin:0 10px 0 0; display:inline-block;}
.main_slider_small img{width:100%; border-radius:10px; overflow:hidden;}




/* news_list */
.news_list {}
.news_list .renew_tit {position: relative; padding: 0 15px;}
.news_list .renew_tit a {position: absolute; right: 15px; top: 3px; font-size: 13px;}
.news_list .renew_tit a svg {vertical-align: middle;}
.news_list ul {padding: 13px 15px 0;}
.news_list ul li {position: relative;}
.news_list ul li p {position: absolute; left: 0; bottom: 0; display: block; width: 100%; color:#fff; font-size: 16px; font-weight: 400; padding: 10px 10px 15px; box-sizing: border-box; background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%); line-height: 1.3;}
.news_list ul li img {width: 100%; max-height: 384px;}
.news_swiper {padding-bottom: 40px; overflow: hidden;}
.news_list .progressed {top: 100% !important; left: 50% !important; transform: translate(-50%, 0); width: calc(100% - 30px) !important;}
.news_list .swiper-pagination-progressbar {background: #ececec; height: 3px !important;}
.news_list .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {background: #109EA8;}

/*best_seller*/
.best_seller_slider{margin-top: 13px;}




/* 첫구매혜택 UXUI 페이지 제작 관련 CSS */
.firstSale * {color:#000;}

.fs_prd_title_str {margin:0 0 20px; font-size:24px; text-align:center; line-height:1.2;font-weight:400;}
.fs_prd_title_str > span {display:block; font-size:30px; font-weight:700;}
.fs_prd_title_str > strong {display:block; font-size:30px; font-weight:700;}
.fs_prd_title_str > span.sig-c {color:#109EA8;}
.fs_prdIntro_cont1 {padding:46px 0 43px; background:#FFF4E0;}
.mini_desc {display:block; text-align:center; color:#000000; opacity:0.5;}

.yt_banner_wrap {position:relative; padding-bottom:49.0%; padding-top:30px; height:0; overflow:hidden;}
.yt_banner_wrap iframe,
.yt_banner_wrap object,
.yt_banner_wrap embed {position:absolute; top:0; left:0; width:100vw !important; height:56.25vw !important;}

.fs_prdIntro_cont1 {position:relative; margin:0 0 100px; padding:46px 0 39px;}
.fs_prdIntro_cont1 > h2 {margin:0 70px 20px; padding-bottom:20px; font-size:30px; font-weight:700; line-height:1; text-align:center; border-bottom:1px solid #707070;}
.fs_prdIntro_cont1 > .fs_prd_cont {text-align:center;}
.fs_prdIntro_cont1 > .fs_prd_cont .intro1_sub_tit {font-size:20px; font-weight:600; }
.fs_prdIntro_cont1 > .fs_prd_cont .fs_tit_underline {display:inline-block; margin:10px 0 14px; padding:8px 31px 6px; font-size:16px; background:#ffffffa5;}
.fs_prdIntro_cont1 > .fs_prd_cont > p {font-size:17.5px; font-weight:400; line-height:1.3;}
.fs_prdIntro_cont1 > .fs_prd_cont .intro1_img_thumb {}
.fs_prdIntro_cont1 > .fs_prd_cont .intro1_img_thumb img {display: block;  position: absolute; left: 50%; max-width:280px; transform: translate(-50%, 0);}


.intro2_img_thumb {margin:-75px 0 0;}
.intro2_img_thumb img {display:block; width:65%; margin:0 auto;}
.fs_prdIntro_cont2 {padding:30px 0 0;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .txt_frame { font-size:20px;text-align:center;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .img_frame {margin:45px 0 15px;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .img_frame img {display:block; width:100%;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame {margin:30px 20px 15px;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div {display:flex; flex-flow:row nowrap; justify-content:space-between;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div > .cont_flex1, .fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div > .cont_flex2 {margin:0 0 20px;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div  > div {display:flex; flex-flow:column nowrap; align-items:center; width:calc(50% - 5px); padding:10px 10px 20px; background:#f3f3f3; border-radius:15px;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div  > div img {display:block; height:100%;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div  > div .fl-img {height:69px; margin:35px 0 25px;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .cont_frame > div  > div span {text-align:center;}
.fs_prdIntro_cont2 .fs_prd_cont ul li .yt_frame {position:relative; overflow:hidden; padding-bottom:90.23vw; margin:25px 0 20px; }
.fs_prdIntro_cont2 .fs_prd_cont ul li .yt_frame iframe,
.fs_prdIntro_cont2 .fs_prd_cont ul li .yt_frame object,
.fs_prdIntro_cont2 .fs_prd_cont ul li .yt_frame embed {position:absolute; left:0; top:0; right:0; bottom:0; width:100%; height:100%;}

.fs_prdIntro_cont3 {padding:46px 0 50px;background:#F3F3F3;}
.fs_prdIntro_cont3 .mini_desc {margin:-16px 0 11px;}
.fs_prdIntro_cont3 .fs_prd_gif {margin:40px 20px 30px; padding:10px 0 ; border-radius:15px; background:#FFF;}
.fs_prdIntro_cont3 .reasonSwiper {margin:0 20px; padding:0 0 15px; position:relative !important; background:#fff; border-radius:15px;}
.fs_prdIntro_cont3 .reasonSwiper ul {}
.fs_prdIntro_cont3 .reasonSwiper ul li .txt_frame {position:relative; z-index:10; padding:30px 0 0; text-align:center;}
.fs_prdIntro_cont3 .reasonSwiper ul li .txt_frame h4 {margin:0 0 11px; line-height:1; font-size:20px; font-weight:700;}
.fs_prdIntro_cont3 .reasonSwiper ul li .txt_frame p {font-size:14px; line-height:1.2;}
.fs_prdIntro_cont3 .reasonSwiper ul li .img_frame {position:relative; z-index:9;  margin:20px 0 0;}
.fs_prdIntro_cont3 .reasonSwiper ul li .img_frame img {display:block; padding:0 55px 15px;}
.fs_prdIntro_cont3 .reasonSwiper .reasonSwiper-button-next,
.fs_prdIntro_cont3 .reasonSwiper .reasonSwiper-button-prev {position:absolute; top:60%; width:37.5px; height:37.5px; z-index:20; border:1px solid #b5b5b563; border-radius:100%; transform:translate(0,-50%);}
.fs_prdIntro_cont3 .reasonSwiper .reasonSwiper-button-next {right:10px; background:#fff url('../../img/main/firstSale/angle-small-right.png')no-repeat center; background-size:21px;}
.fs_prdIntro_cont3 .reasonSwiper .reasonSwiper-button-prev {left:10px; background:#fff url('../../img/main/firstSale/angle-small-left.png')no-repeat center; background-size:21px;}

.fs_prdIntro_cont4 {padding:31px 0 0;}
.fs_prdIntro_cont4 .qualitySwiper_navigation {position:relative; display:flex; flex-flow:row nowrap; justify-content:space-between;align-items:center; width:calc(100% - 70px) !important; margin:10px 35px 26px;}
.fs_prdIntro_cont4 .qualitySwiper_navigation:before {content:''; display:block; position:absolute; z-index:-1; left:0; top:50%; width:100%; height:1.5px; background:#109ea8; transform:translate(0,-50%);}
.fs_prdIntro_cont4 .qualitySwiper_navigation span {width:10px !important; height:10px !important; margin:0 !important; opacity:1 !important; background:#109ea8;}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active {display:inline-block; width:60px !important; height:30px !important; margin:0 !important; line-height:30px; background:#109ea8; border-radius:18px; text-align:center;}
.fs_prdIntro_cont4 .qualitySwiper_navigation span:before {color:#FFF; font-size:14px;}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active:nth-child(1):before{content:'듀먼';}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active:nth-child(2):before{content:'원료선별';}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active:nth-child(3):before{content:'볶음조리';}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active:nth-child(4):before{content:'냉동포장';}
.fs_prdIntro_cont4 .qualitySwiper_navigation span.swiper-pagination-bullet-active:nth-child(5):before{content:'품질검사';}
.fs_prdIntro_cont4 .qualitySwiper {position:relative !important;}
.fs_prdIntro_cont4 .qualitySwiper .swiper-slide .txt_frame h4 {margin:0 0 20px; font-size:30px; line-height:1.2;font-weight:600; text-align:center; }
.fs_prdIntro_cont4 .qualitySwiper .swiper-slide .txt_frame h4 span {display:block; font-size:24px;font-weight:400;}
.fs_prdIntro_cont4 .qualitySwiper .swiper-slide .txt_frame p {min-height:90px; font-size:15px; line-height:1.4; text-align:center; }
.fs_prdIntro_cont4 .qualitySwiper .swiper-slide .img_frame {margin:30px 0 0;}

.fs_prdIntro_cont4 .qualitySwiper .qualitySwiper-button-next,
.fs_prdIntro_cont4 .qualitySwiper .qualitySwiper-button-prev {position:absolute; /*top:60%;*/ bottom: 20%; width:37.5px; height:37.5px; z-index:20; border:1px solid #b5b5b563; border-radius:100%; /*transform:translate(0,-50%);*/ opacity: 0.8;}
.fs_prdIntro_cont4 .qualitySwiper .qualitySwiper-button-next {right:15px; background:#fff url('../../img/main/firstSale/angle-small-right.png')no-repeat center; background-size:21px;}
.fs_prdIntro_cont4 .qualitySwiper .qualitySwiper-button-prev {left:15px; background:#fff url('../../img/main/firstSale/angle-small-left.png')no-repeat center; background-size:21px;}




.fs_prdIntro_cont5 {overflow:hidden; padding:46px 20px 50px;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu {display:flex; flex-flow:row nowrap; justify-content:center; align-items:center; gap:15px; margin:0 0 27.5px;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu li {width:87px; height:35.5px; line-height:35.5px; text-align:center; font-size:15px; color:#b5b5b5; border:1px solid #B5B5B5; border-radius:18px;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu li.on {color:#fff; background:#109ea8;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span {display:block; width:87px; height:35.5px; opacity:1; line-height:35.5px; margin:0; text-align:center; font-size:15px; color:#b5b5b5; background:#FFF; border:1px solid #B5B5B5; border-radius:18px;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span:nth-child(1):before {content:'오리지널';font-size:15px; color:#b5b5b5;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span:nth-child(2):before {content:'기능성';font-size:15px; color:#b5b5b5;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span:nth-child(3):before {content:'케어식';font-size:15px; color:#b5b5b5;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span.swiper-pagination-bullet-active {color:#fff; background:#109ea8;}
.fs_prdIntro_cont5 .fs_prd_cont .intro5_tab_menu > span.swiper-pagination-bullet-active:before {color:#fff;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul {display:flex; flex-flow:row wrap; justify-content:space-between; row-gap:9px;background:#FFF;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li {width:calc(50% - 4.5px);padding:30px 0 18px; background:#f3f3f3;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li > .img_frame {margin:0 29.5px 18px;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li > .img_frame img {display:block; margin:0 auto;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li > .txt_frame {text-align:center;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li > .txt_frame .txt_prd_name {font-size:15px; line-height:1; }
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li > .txt_frame .txt_prd_btn {display:block; width:100px; height:25px; margin:5px auto 0; color:#B5B5B5; font-size:12px; line-height:25px; background:#FFF; border:1px solid #B5B5B5; text-align:center;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li.on > .txt_frame .txt_prd_btn {color:#fff; background:#109EA8;}

.fs_prdIntro_cont5 .intro5_tab_cont .layer_frame {display:none;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_frame > .layer_frame_cont { position:fixed; left:50%; top:50%; z-index:99999; width:calc(100% - 40px);  padding:0 30px 21px; transform:translate(-50%, -50%); background:#FFF; border-radius:15px; border:0.5px solid #C9C9C9;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_frame > .ly_frame_dim {position:fixed; left:0; top:0; right:0; bottom:0; z-index:999;background:#000; opacity:0.5; touch-action:none; }
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li.on .layer_frame {display:block;}
.fs_prdIntro_cont5 .intro5_tab_cont > ul > li .ly_frame_close {position:absolute; right:17px; top:13px; line-height:1; font-weight:300; font-size:23px; color:#707070;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_frame .layer_tit {margin:30px 0 19px; font-size:20px; line-height:1; text-align:center;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_tab {display:flex; flex-flow:row nowrap; margin:0 0 18px;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_tab li {width:25%; color:#B5B5B5; font-size:14px; line-height:1.9; text-align:center; border-bottom:3px solid #B5B5B5;}
.fs_prdIntro_cont5 .intro5_tab_cont .layer_tab li.on {color:#000; border-bottom:3px solid #109EA8;}



.fs_prdIntro_cont6 {padding:46px 30px 37.5px; background:#FFF4E0;}
.fs_prdIntro_cont6 .fs_prd_cont {margin:33px 0 0;}
.fs_prdIntro_cont6 .fs_prd_cont ul li {display:flex; gap:13.5px; align-items:center; margin:0 0 18.5px;}
.fs_prdIntro_cont6 .fs_prd_cont ul li .img_frame {max-width:65px; max-height:65px;}
.fs_prdIntro_cont6 .fs_prd_cont ul li .img_frame img {display:block; width:100%; height:100%;}
.fs_prdIntro_cont6 .fs_prd_cont ul li .txt_frame {width:calc(100% - 65px);}
.fs_prdIntro_cont6 .fs_prd_cont ul li .txt_frame span {display:block; text-indent:16px; font-weight:500; line-height:1; font-size:14px; margin:0 0 4px;}
.fs_prdIntro_cont6 .fs_prd_cont ul li .txt_frame p {width:100%; padding:8.5px 15px; background:#fff; border-radius:10px; font-size:14px; line-height:1.3; }


.fs_prdIntro_cont7 {padding:46px 30px 37.5px; background:#E8F5F5;}
.fs_prdIntro_cont7 .fs_prd_cont {margin:33px 0 0;}
.fs_prdIntro_cont7 .fs_prd_cont ul li {display:flex; gap:13.5px; align-items:center; margin:0 0 18.5px;}
.fs_prdIntro_cont7 .fs_prd_cont ul li .img_frame {max-width:65px; max-height:65px;}
.fs_prdIntro_cont7 .fs_prd_cont ul li .img_frame img {display:block; width:100%; height:100%;}
.fs_prdIntro_cont7 .fs_prd_cont ul li .txt_frame {width:calc(100% - 65px);}
.fs_prdIntro_cont7 .fs_prd_cont ul li .txt_frame span {display:block; text-indent:16px; font-weight:500; line-height:1; font-size:14px; margin:0 0 4px;}
.fs_prdIntro_cont7 .fs_prd_cont ul li .txt_frame p {width:100%; padding:8.5px 15px; background:#fff; border-radius:10px; font-size:14px; line-height:1.3; }

.realReview_wrap {overflow:hidden; padding:25px 0 46px; background:#F3F3F3;}
.realReview_wrap > h2 {font-size:30px; text-align:center;}
.realReview_wrap .realReview_list {margin:25px 20px 0 20px;}
.realReview_wrap .realReview_list ul {margin-right:20px;}
.realReview_wrap .realReview_list li {padding:15px 12.5px; background:#FFF; border-radius:10px;}
.realReview_wrap .realReview_list li .txt_frame {margin:17.5px 0 0; height:112px; font-size:15px; text-align:center;}
.realReview_wrap .realReview_list li .txt_frame .writer_id {display:block; margin:17.5px 0 0; font-size:14px; color:#666; font-weight:300;}
.realReview_wrap .realReview_list li.txtonly {display:flex; align-items:center; justify-content:center; height:auto;}
.realReview_wrap .realReview_list li.txtonly a {font-size:15px; text-align:center;}
.realReview_wrap .realReview_list li.txtonly a strong {display:block; line-height:1.3;}
.realReview_wrap .realReview_list li.txtonly a:after {content:''; display:block; width:37.5px; height:37.5px; margin:25px auto 0; background:#fff url('../../img/main/firstSale/angle-small-right.png')no-repeat center; background-size:21px; border:1px solid #b5b5b5; border-radius:100%;}

.main_membership_table {margin:50px 15px;}
.main_membership_table .member_grade {margin:20px 0 0; padding:25px 20px 20px; background:#E8F5F5;}
.main_membership_table .member_grade .grade_shape > ul {display:flex; flex-flow:row nowrap; gap:6.5px; align-items:flex-end;}
.main_membership_table .member_grade .grade_shape > ul li {display:flex; flex-flow:column nowrap; justify-content:flex-end; align-items:center; width:25%; padding:21px 0 12px; background:#E2E2E2; border-radius:45px 45px 0 0;}
.main_membership_table .member_grade .grade_shape > ul li span {color:#000;}
.main_membership_table .member_grade .grade_shape > ul li:nth-child(1){height:140px;}
.main_membership_table .member_grade .grade_shape > ul li:nth-child(2){height:110px;}
.main_membership_table .member_grade .grade_shape > ul li:nth-child(3){height:90px;}
.main_membership_table .member_grade .grade_shape > ul li:nth-child(4){padding:10px 0 12px; height:75px;}
.main_membership_table .member_grade .grade_shape > ul li span.percent {display:none; }
.main_membership_table .member_grade .grade_shape > ul li span {font-size:15px; line-height:1; }
.main_membership_table .member_grade .grade_shape > ul li.grade_on { justify-content:space-between; background:#109EA8;}
.main_membership_table .member_grade .grade_shape > ul li.grade_on span {color:#fff;}
.main_membership_table .member_grade .grade_shape > ul li.grade_on span.percent {display:block;}
.main_membership_table .member_grade .grade_shape > ul li.grade_on span.percent b {color:#FFF; display:block;font-size:19px; }
.main_membership_table .member_grade .grade_information {min-height:151px; margin:20px 0 0; padding:15px; background:#FFF;}
.main_membership_table .member_grade .grade_information > div {display:none;}
.main_membership_table .member_grade .grade_information > div.on {display:block;}
.main_membership_table .member_grade .grade_information .info_title {display:flex; align-items:center; gap:8px; font-size:17px; line-height:1; margin:0 0 14px; color:#109EA8; font-weight:bold;}
.main_membership_table .member_grade .grade_information .info_title span {display:block; width:35px; height:35px;}
.main_membership_table .member_grade .grade_information .info_title span img {display:block; width:100%;}
.main_membership_table .member_grade .grade_information ul li {}
.main_membership_table .member_grade .grade_information ul li span {font-size:12.5px; color:#777;}
.main_membership_table .member_grade .grade_information ul li strong {display:inline-block; margin-right:10px; font-size:15px; color:#777;}


.guest-banner {position:relative;}
.guest-banner a {position:absolute; left:50%; bottom:20px; display:block; width:calc(100% - 40px); height:50px; font-size:16px; text-align:center; color:#FFF; line-height:50px; background:#109ea8; border-radius:5px; transform:translate(-50%,0);}

