@charset "utf-8";

.bn_review_best{
	position: relative;
}
.bn_review_best .btn_plus_review_register{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	display: inline-block;
}
.bn_review_best .btn_plus_review_register .ogl_reviewrite{
	width: 160px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	background: #ffbf27;
	color: #000;
	letter-spacing: -0.42px;
}

.mu.btn_review_list{
	display: flex;
	width: 100%;
	padding: 0; 
	border-bottom: 0; 
	margin-bottom: 8px; 
	text-align: center;
}
.mu.btn_review_list a{
	width: 50%;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #c6c6c6;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}
.mu.btn_review_list a.on{
	font-weight: 600;
	color: #009bac;
	border-bottom: 3px solid #009bac;
}

.mu .plus_review_goods_option{
	padding: 6px 15px;
}
.mu .plus_review_goods_option .inp_sel select{
	height: 50px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #dadada;
}

/* 리뷰라운지 전체리뷰 */
.mu.plus_review_article .plus_review_list .plus_review_btn{
	padding: 15px;
}
.mu.plus_review_article .plus_review_list .plus_review_btn .ogl_reviewrite{
	display: block;
    height: 30px;
    padding: 0 !important;
    background: #ffbf27;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.77px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    border-radius: 15px;
}
.mu.plus_review_article .plus_review_list ul li{
	padding: 10px 15px 0 15px;
    border-bottom: 0;
}
.mu.plus_review_article .list_right {
    display: block;
    width: 100%;
    padding: 10px 0;
    vertical-align: middle;
    border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}
.mu.plus_review_article .list_right .list_top,
.mu.plus_review_article .list_right .plus_reivew_contents_box,
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents{
	display: block;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_goods{
	font-size: 12px;
	color: #acacac;
	overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_img{
	display: block;
    width: 100px;
    height: 100px;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_img img{
	width: 100px;
    height: 100px;
    max-width: initial;
    object-fit: cover;
    object-position: center;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_txt{
    display: -webkit-box;
    margin: 10px 0 15px 0;
	font-size: 13px;
    color: #000;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents_txt .word img{
	display: block;
	width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin: 5px 0 0 0;
}
.mu.plus_review_article .list_right .plus_reivew_contents_box .plus_reivew_contents a.more{
    display: block;
    margin: 15px 0 10px 0;
    font-size: 13px;
    font-weight: 600;
    color: #009bac;
	text-decoration: underline;
}
.mu.plus_review_article .list_right .plus_review_info{
	padding: 0;
    line-height: 1;
}

/* 리뷰라운지 포토리뷰 */


/* 후기등록 팝업 */
.mu.plus_review_popup_write .write_wrap{
	padding: 0 15px;
}
.mu.plus_review_popup_write .write_wrap .benefit_info_box{
	padding: 20px 0;
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}
.mu.plus_review_popup_write .write_wrap .benefit_info_box .benefit_info{
	font-size: 14px;
	font-weight: normal;
	color: #707070;
}
.mu.plus_review_popup_write .write_wrap .mu_sel_goods .pr_empty_goods_txt{
	font-size: 14px;
    line-height: 1;
    padding: 20px 0;
    border-bottom: 1px solid rgba(198, 198, 198, 0.5);
    font-weight: normal;
    color: #707070;
    vertical-align: middle;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap{
	border: none;
	padding: 20px 0;
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
	background: none;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods{
	display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_img{
	width: 35%;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_img .goods_img{
	max-width: 114px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_img .goods_img img{
	width: 100%;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info{
	position: relative;
	width: 65%;
	padding: 0 0 0 15px;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .cell_info{
	margin-bottom: 10px;
	padding-right: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #000;
	line-height: 1.52;
	word-break: keep-all;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_prc{
	display: flex;
	position: relative;
	padding-left: 10px;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_prc::before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	width: 5px;
	height: 5px;
	border-left: 1px solid rgba(98, 98, 98, 0.2);
	border-bottom: 1px solid rgba(98, 98, 98, 0.2);
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_prc strong{
	font-size: 12px;
	font-weight: 500;
	color: #acacac;
	letter-spacing: -0.27px;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_prc .cell_price{
	margin-left: 8px;
	font-size: 12px;
	font-weight: 300;
	color: #acacac;
	letter-spacing: normal;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .itemselect .order_select_btn{
	background: #ffbf27;
    border: 1px solid #ffbf27;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_del{
	position: absolute;
    right: 0;
    top: 3px;
    width: 20px;
    height: 20px;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_del .pr_remove_goods{
	padding: 0;
}
.mu.plus_review_popup_write .prd_review_box .selected_goods_wrap .selected_goods .mu_sel_goods_info .mu_sel_goods_del .pr_remove_goods img{
	width: 12px;
}
.mu.plus_review_popup_write .write_wrap .itemselect{
	width: 100%;
    height: auto;
    margin: 8px 0 0 0;
}
.mu.plus_review_popup_write .write_wrap .prd_review_box .itemselect.other{
    position: absolute;
    bottom: 0;
    right: 0;
	width: calc(100% - 15px);
    height: auto;
}
.mu.plus_review_popup_write .write_wrap .prd_review_box .itemselect .order_select_btn{
	display: block;
    width: 100%;
    height: 32px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #303030;
    border-radius: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
}
.mu.plus_review_popup_write .write_wrap .mu_sel_goods .itemselect .order_select_btn{
	display: block;
    width: 100%;
    height: 32px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    background: #fff;
    border: 1px solid #303030;
    border-radius: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
}
.mu.plus_review_popup_write .write_wrap dl{
	display: block;
	padding: 20px 0;
	border: none;
	text-align: left;
}
.mu.plus_review_popup_write .write_wrap dl.mu_star{
    margin: 0 0 10px 0;
	text-align: center;
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}
.mu.plus_review_popup_write .write_wrap dl.mu_star dt{
	display: block;
}
.mu.plus_review_popup_write .write_wrap dl.mu_star dd{
	display: block;
}
.mu.plus_review_popup_write .write_wrap dl.mu_star dd p{
	font-size: 12px;
	font-weight: normal;
	color: #767676;
}

.mu.plus_review_popup_write .write_wrap .choice_box{
	border: none;
	margin: 5px 0 10px 0;
}
.mu.plus_review_popup_write .write_wrap .choice_box .optbx{
	display: block !important;
}
.mu.plus_review_popup_write .write_wrap .choice_box .optbx .choice_rating{
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	border: none;
}
.mu.plus_review_popup_write .write_wrap .choice_box .optbx .choice_rating li{
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0 5px;
	overflow: hidden
}
.mu.plus_review_popup_write .write_wrap .choice_box span.rating{
	display: block;
	width: 150px;
    height: 30px;
    font-size: 0;
    background: url(/img/star_off.png) no-repeat left center;
    background-size: auto 29px;
}
.mu.plus_review_popup_write .write_wrap .choice_box span.rating span{
	display: block;
    height: 30px;
    background: url(/img/star_on.png) no-repeat left center;
    background-size: auto 29px;
}
.mu.plus_review_popup_write .write_wrap .choice_box .optbx .choice_rating li span.rating span{
	display: none;
}
.mu.plus_review_popup_write .write_wrap .choice_box .optbx .choice_rating li.on span.rating span{
	display: block;
}

.mu.plus_review_popup_write .write_wrap .textarea_box{
	padding: 20px 20px 30px 20px;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.mu.plus_review_popup_write .write_wrap .textarea_box textarea{
	border: none;
	padding: 0;
}
.mu.plus_review_popup_write .write_wrap .textarea_box textarea::placeholder {
    color: #c6c6c6;
}
.mu.plus_review_popup_write .write_wrap .b_file{
	padding: 10px 0;
}
.mu.plus_review_popup_write .write_wrap .b_file > div{
	position: relative;
	width: 70px;
	height: 70px;
	border: 1px solid #dadada;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.mu.plus_review_popup_write .write_wrap .b_file button.file_face{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
	margin: 0;
	background: url(/img/mo/icon_camera.png) no-repeat center;
    background-size: contain;
}
.mu.plus_review_popup_write .btn_box{
	display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0 10px 0;
}
.mu.plus_review_popup_write .btn_box li{
	display: inline-block;
    width: 49%;
    padding: 0;
}
.mu.plus_review_popup_write .btn_box li .plus_review_cancel_btn{
	height: 50px;
	padding: 0;
	border: 1px solid #139dad;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	color: #139dad;
}
.mu.plus_review_popup_write .btn_box li .plus_review_save_btn{
	height: 50px;
	padding: 0;
	background: #139dad;
	border: 1px solid #139dad;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	color: #FFF;
}

.layer_goods_select .lys_close_btn{
	top: 8px;
}
.layer_goods_select .ly_select_search_btn{
    height: 40px;
    padding: 0;
    background: #ffbf27;
    border: 1px solid #ffbf27;
    border-radius: 20px;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.mu.layer_review_order_select .btn_box{
	top: 8px;
}
.mu.layer_review_order_select .ly_ct{
	padding: 20px 15px;
    background: #fff;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search{
	margin: 0 0 20px 0;
	padding: 25px 15px;
	border: 1px solid #dadada;
    border-radius: 5px;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .order_num_box{
	display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .order_num_box .order_num{
	display: inline-block;
    width: 58%;
    font-size: 12px;
    vertical-align: middle;
    font-weight: 600;
    color: #000;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .order_num_box .order_date{
	display: inline-block;
    width: 42%;
    font-size: 12px;
    text-align: right;
    color: #acacac;
    vertical-align: middle;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box{
	padding: 15px 0;
	border-top: 1px solid rgba(198, 198, 198, 0.5);
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info{
	display: flex;
    align-items: flex-start;
    width: 100%;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead{
	display: inline-block;
    width: 40%;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead .img{
	min-width: 114px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itemhead .img img{
	width: 100%;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody{
	display: inline-block;
    width: 60%;
    padding: 0 0 0 15px;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody .mu_sel_goods_nm{
	margin-bottom: 10px;
	padding-right: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #000;
	line-height: 1.52;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody dl dd{
	position: relative;
	padding-left: 10px;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody dl dd::before{
	content: "";
	position: absolute;
	left: 0;
	top: 4px;
	width: 5px;
	height: 5px;
	border-left: 1px solid rgba(98, 98, 98, 0.2);
	border-bottom: 1px solid rgba(98, 98, 98, 0.2);
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody dl dd ul li{
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody dl dd strong{
	font-size: 12px;
	font-weight: 500;
	color: #acacac;
	letter-spacing: -0.27px;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody dl dd span{
	margin-left: 8px;
	font-size: 12px;
	font-weight: 300;
	color: #acacac;
	letter-spacing: normal;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody .order_prd{
	border: none;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody .order_prd span{
	font-size: 12px;
	font-weight: 600;
	letter-spacing: -0.29px;
	color: #000;
}
.mu.layer_review_order_select .ly_ct .layer_review_order_search .my_goods li .my_goods_list_box .info .itembody .order_prd strong{
	margin-left: 15px;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: -0.29px;
	color: #22a0ad;
}
.mu.layer_review_order_select .layer_review_order_search .my_goods li .itembottom{
	padding: 0;
}
.mu.layer_review_order_select .layer_review_order_search .my_goods li .itembottom .layer_order_select_btn{
	height: 30px;
	line-height: 28px;
	padding: 0;
    background: #ffbf27;
    border: 1px solid #ffbf27;
    border-radius: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.mu.layer_review_order_select .layer_order_more_btn{
	height: 30px;
	padding: 0;
	border-radius: 15px;
}

/* 후기상세 팝업 */
.mu.plus_review_view .plus_review_contents{
	padding: 0;
}
.mu.plus_review_view .plus_review_contents .mu_view_wrap{
	border-top: 1px solid rgba(198, 198, 198, 0.5);
	padding: 20px 0;
}
.mu.plus_review_view .plus_review_contents .view_top{
	padding: 20px 15px;
	border: none;
}
.mu.plus_review_view .plus_review_contents .view_top .plus_review_info .writer{
	position: relative;
	color: #acacac;
	letter-spacing: normal;
}
.mu.plus_review_view .plus_review_contents .view_top .plus_review_info .writer::after{
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #acacac;
}
.mu.plus_review_view .plus_review_contents .view_top .plus_review_info .date{
	color: #acacac;
	letter-spacing: -0.22px;
	padding: 0 0 0 10px;
}
.mu.plus_review_view .plus_review_contents .view_middle{
	padding: 0 15px;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap{
	display: flex;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap .img{
	display: inline-block;
	width: 28%;
	min-width: 90px;
	padding: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	overflow: hidden;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap .img img{
	border: none;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap .prd_info{
	display: inline-block;
	width: 72%;
	padding: 0 20px 0 12px;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap .prd_info .goods_name{
	font-size: 12px;
	font-weight: 600;
	color: #000;
	word-break: keep-all;
}
.mu.plus_review_view .plus_review_contents .view_middle .mu_view_wrap .prd_info .price{
	font-family: inherit;
	font-size: 15px;
	color: #000;
}
.mu.plus_review_view .plus_review_contents .view_bottom{
	padding: 0 15px;
}
.mu.plus_review_view .plus_review_contents .view_bottom .upload_img{
	padding: 0;
}
.mu.plus_review_view .plus_review_contents .view_bottom .view_content_txt{
	padding: 20px 0 0 0;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: -0.31px;
	line-height: 1.5;
	color: #000
}
.mu.plus_review_view .plus_review_contents .view_comment{
	padding: 0 15px;
	border: none;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count *{
	float: initial;
	display: inline-block;
	position: initial;
	margin: 0;
	padding: 0;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count{
	justify-content: space-between;
	align-items: center;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_cnt{
	display: flex;
	flex-direction: column;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_cnt span{
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: -0.2px;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_cnt span.recommendCount{
	padding-left: 20px;
	background: url('/img/mo/icon_recommend.png')no-repeat left center;
	background-size: 16px auto;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_cnt span strong{
	margin: 0 5px;
	color: rgba(0, 0, 0, 0.5);
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_btn{
	display: flex;
	justify-content: flex-end;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_btn .report .js_btn_report{
	width: 95px;
	min-width:95px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #d9d9d9;
	border-radius: 15px;
	background: #fff;
	font-size: 15px;
	font-weight: normal;
	color: #b4b4b4;
}
.mu.plus_review_view .plus_review_contents .view_comment .comment_count .mu_comment_btn .btn_like .plus_review_like_btn{
	width: 95px;
	min-width:95px;
	height: 30px;
	line-height: 28px;
	border: 1px solid #ffbf27;
	border-radius: 15px;
	background: #ffbf27;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	margin-left: 6px;
}
.mu.plus_review_view .plus_review_contents .comment_wrap{
	height: 50px;
	padding: 0;
	border: none;
	background: rgba(112, 112, 112, 0.15);
	font-size: 14px;
  	font-weight: 500;
	color: rgba(0, 0, 0, 0.8);
}

/* 상품상세 리뷰탭 */
.mu.plus_review_container .plus_review_info_top{
	display: flex;
	padding: 20px 0;
}
.mu.plus_review_container .plus_review_info_top > div{
	width: 50%;
	text-align: center;
}
.mu.plus_review_container .plus_review_info_top > div h4{
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
.mu.plus_review_container .plus_review_info_top .plus_review_num_cont{
	padding-top: 15px;
}
.mu.plus_review_container .plus_review_info_top .plus_review_num_cont strong{
	display: block;
	font-size: 35px;
	font-weight: 600;
	color: #000;
}
.mu.plus_review_container .plus_review_info_top .plus_review_num_cont em{
	display: block;
}
.mu.plus_review_container .plus_review_info_top .plus_review_num_cont em img{
	width: 15px;
    height: 15px;
    object-fit: contain;
    display: inline-block;
}

.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	height: 100%;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul{
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li{
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 4px;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li .grade_num{
	display: none;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li:first-child .grade_num{
	display: block;
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 6px;
	font-size: 11px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.15px;
    color: #000;
    border-radius: 3px;
    background: #ffbf27;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li span.grade_stick{
	display: block;
	position: relative;
    width: 5px;
    height: 50px;
    margin: 2px 0 4px 0;
    background: #f0f0f0;
    border-radius: 3px;
    overflow: hidden;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li span.grade_stick em{
    display: inline-block;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 5px;
    background: #ffbf27;
}
.mu.plus_review_container .plus_review_info_top .plus_review_grade_cont ul li .grade_star{
	font-size: 10px;
	color: rgba(0, 0, 0, 0.5);
}

.mu.plus_review_container .plus_review_btn{
	padding: 10px 15px 20px 15px;
}
.mu.plus_review_container .plus_review_btn .plus_reivew_write_btn{
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid #0F9DAC;
    border-radius: 5px;
    color: #0F9DAC;
    font-size: 16px;
    font-weight: 500;
}

.mu.plus_review_container .plus_review_photo{
	padding: 0 15px;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont{
	padding: 20px 0;
	border-top: 1px solid rgba(198, 198, 198, 0.5);
	border-bottom: 1px solid rgba(198, 198, 198, 0.5);
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont h4{
	line-height: 1;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont ul{
	display: flex;
    align-items: stretch;
    flex-direction: row;
    width: calc(100% + 15px);
    overflow-x: auto;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont ul::-webkit-scrollbar{
	display: none;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont ul li{
	width: 90px;
    min-width: 90px;
    height: 90px;
    overflow: hidden;
    margin-right: 7px;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont ul li a{
	display: block;
    width: 100%;
    height: 100%;
}
.mu.plus_review_container .plus_review_photo .plus_review_photo_cont ul li a img{
	width: 90px;
    height: 90px;
    object-fit: fill;
    object-position: center;
}

.mu.plus_review_container .plus_review_list ul{
	padding: 0 15px; 
}
.mu.plus_review_container .plus_review_list ul li{
	padding: 20px 0;
}
.mu.plus_review_container .plus_review_list .plus_review_more{
	padding: 20px 15px 7px 15px;
}
.mu.plus_review_container .plus_review_list .plus_review_more .plus_review_more_btn{
	width: 100%;
    height: 50px;
    padding: 0;
    background: #fff;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
	line-height:50px;
    color: #777777;
    font-size: 16px;
    font-weight: 500;
}

.mu.plus_review_container .plus_reivew_contents_box{
	display: block;
    width: 100%;
    padding: 0;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents{
	display: block;
    padding: 0;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents .review_more{
	display: -webkit-box;
    margin: 10px 0 0 0;
    font-size: 13px;
    color: #000;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents .review_more2{
	margin: 10px 0 0 0;
	font-size: 13px;
    color: #000;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents .review_more2 .upload_box{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    width: 100%;
    margin-top: 15px;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents .review_more2 .upload_box .upload_img{
	min-width: 85%;
	max-width: 85%;
    margin-right: 7px;
}
.mu.plus_review_container .plus_reivew_contents_box .plus_reivew_contents a.more{
	display: inline-block;
    margin: 10px 0 10px 0;
    font-size: 13px;
    font-weight: 600;
    color: #009bac;
    text-decoration: underline;
    vertical-align: middle;
}


.layer_goods_select .ly_ct .ly_buy_info .search_box .search_filter .inp_sel input{
	text-align: center;
	font-size: 14px;
	letter-spacing: normal;
}
.layer_goods_select .ly_ct .btn_box{
	padding: 0 10px 10px;
}
.layer_goods_select .ly_ct .ly_loop{
	background: #fff;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info{
	padding: 20px 15px;
	border: 1px solid #dadada;
	border-radius: 5px;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .itemhead .thmb.img{
	border-radius: 5px;
    overflow: hidden;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .itemhead .thmb.img img{
	border: none;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .itembody{
	padding: 0 0 0 10px;
    vertical-align: initial;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .itembody p.name{
	padding: 3px 0;
    font-weight: 600;
    color: #000;
    font-size: 13px;
    line-height: 1.52;
    word-break: keep-all;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .itembody p.prc{
	display: block;
    padding: 15px 0 0 0;
    font-size: 12px;
    color: #acacac;
    font-weight: normal;
    letter-spacing: -0.25px;
}
.layer_goods_select .ly_ct .ly_loop .my_goods .info .btn_bx .ly_select_search_btn1{
	display: inline-block;
    width: 100%;
    height: 30px;
    line-height: 28px;
    margin-top: 15px;
    padding: 0;
    text-align: center;
    background: #ffbf27;
    border: 1px solid #ffbf27;
    border-radius: 15px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.42px;
    box-sizing: border-box;
}

.layer_goods_select .ly_ct .more_box{
	padding: 0 10px 30px;
}
.layer_goods_select .ly_ct .more_box .ly_more_btn{
	width: 100%;
    height: 30px;
    padding: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.77px;
    box-sizing: border-box;
}











