@charset "utf-8";

/*** 상품 리스트형 | goods/list/list_02.html ***/
.goods_prd_item {vertical-align:top; list-style:none;}/* 2022-07-08 */
.goods_prd_item .goods_prd_img {display:table-cell; width:42%; min-width: 125px; max-width: 125px; vertical-align:middle; padding:7px 10px 0 0;}/* 2022-07-11 */
.goods_prd_item .goods_prd_img .img_box {position:relative;  border-radius: 5px; overflow: hidden;}
.goods_prd_item .goods_prd_img .img_box .img {font-size:0; line-height:0;}
.goods_prd_item .goods_prd_img .img_box .img img {width:100%; box-sizing:border-box;}/* 2022-07-08 */
.goods_prd_item .goods_prd_content {display:table-cell; vertical-align:middle;}/* 202010 */
.goods_prd_item .goods_prd_content a {}
.goods_prd_item .goods_prd_content .goods_prd_icon {font-size:16px; display:none;}/* 202010 */
.recipe_list {}
.recipe_list .goods_prd_item .goods_prd_content .goods_prd_icon {display:block;}/* 2022-07-11 */
.recipe_list .goods_prd_item .goods_prd_content .goods_prd_icon img {height:15px;}/* 2022-07-11 */
.recipe_list .goods_prd_item .goods_prd_content .MTS_stock {display:none;}/* 2022-07-11 */
.recipe_div h2 {font-size:21px; line-height:1.2; letter-spacing:-1px; padding: 0 15px;}
.recipe_div h2 > span {font-size:15px; font-weight:400;}/* 2022-07-11 */
.recipe_div:after {border-bottom:1px solid #eee; width:100%; display:block;content:''; margin-top:12px;}/* 2022-07-11 */
.goods_prd_item .goods_prd_content .goods_prd_soldout {padding:2px 0 2px 0;}
.goods_prd_item .goods_prd_content .goods_prd_soldout img {height:18px;}
.goods_prd_item .goods_prd_content .goods_info_list {}/* 202010 */
.goods_prd_item .goods_prd_content .goods_info_list li {padding:2px 0 1px 0; word-break:break-all; color:#222; font-size:14px; letter-spacing:-1px; max-height:40px; overflow:hidden; line-height:1.3;}/* 2022-07-11 */

/* 브랜드명 */ .goods_prd_item .goods_prd_content .goods_info_list li.brand_name {font-weight:bold; color:#999999;}
/* 제조사 */ .goods_prd_item .goods_prd_content .goods_info_list li.maker_name {font-weight:bold; color:#999999;}
/* 짧은설명 */ .goods_prd_item .goods_prd_content .goods_info_list li.short_des {font-weight:bold; color:#999999;}
/* 마일리지 */ .goods_prd_item .goods_prd_content .goods_info_list li.list_mileage {font-weight:bold; color:#999999;}
/* 모델번호 */ .goods_prd_item .goods_prd_content .goods_info_list li.model_no {font-weight:bold; color:#999999;}
/* 상품코드 */ .goods_prd_item .goods_prd_content .goods_info_list li.prd_code {font-weight:bold; color:#999999;}
/* 판매가격 */ .goods_prd_item .goods_prd_content .goods_info_list li.price {font-weight:bold; font-size:20px; letter-spacing:-0.5px;}/* 202010 */
/* 정가 */ .goods_prd_item .goods_prd_content .goods_info_list .fixed_price {text-decoration:line-through; font-size:14px; font-weight:300;}/* 202010 */
/* 쿠폰 가격 */ .goods_prd_item .goods_prd_content .goods_info_list li.coupon_price .coupon_price1 {font-weight:bold; color:#f6c757;}
/* 할인 가격 */ .goods_prd_item .goods_prd_content .goods_info_list li.dc_price{font-weight:bold; color:#f6c757;}
/* 타임 세일(기본가) */ .goods_prd_item .goods_prd_content .goods_info_list li.price .c_price {color:#222; font-size:17px; font-family:'roboto';}/* 202010 */
/* 타임 세일(적용가) */ .goods_prd_item .goods_prd_content .goods_info_list li.price .c_price .ori_price {color:#f6c757; text-decoration:line-through;}
/* 타임 세일(남은기간) */ .goods_prd_item .goods_prd_content .goods_info_list li.price .c_price .time_sale_text {color:#3e3d3c; font-size:11px;}

.goods_prd_item .soldout_img {position:absolute; top:0; left:0; display:block; font-size:0; width:100%; height:100%; z-index:10; background-size:100%; background-position:center; background-repeat:no-repeat;}
.goods_prd_item .timesale_img {position:absolute; bottom:0; left:0; width:30px; height:30px; background:#22a0ad url(/data/skin/mobile/mo_designart/img/icon/icon_timesale.png) no-repeat 50% 50%; z-index:10; border-radius:50%; text-indent:-999px; background-size:17px auto;}/* 202010 */
.goods_prd_item .timesale_img img {width:15px; margin:0 3px 0 0; vertical-align:top; }
.goods_prd_item .coupon_img {position:absolute; top:0; right:0; z-index:1;}
.goods_prd_item .coupon_img img {width:34px;}
.goods_prd_item .add_currency {color:#717171; font-size:12px; font-weight:normal; text-align:right;}