@charset "utf-8";

/*** 탭+상품이동형 | goods/list/list_07.html ***/
.goods_prd_item7 {}
/* 탭 박스 */
.goods_prd_item7 .tab_box {}
.goods_prd_item7 .tab_box .tab {display: flex; overflow-x: scroll;}
.goods_prd_item7 .tab_box .tab::-webkit-scrollbar{
	display:none;
}
.goods_prd_item7 .tab_box .tab li {
	border: 1px solid #d9d9d9;
	border-radius: 20px;
	padding: 5px 15px;
	margin-right: 6px;
	white-space: nowrap;
}
.goods_prd_item7 .tab_box .tab li a {
	font-size: 15px;
	font-weight: normal;
	color: #b4b4b4;
}
.goods_prd_item7 .tab_box .tab li.on {
	border: 1px solid #303030;
    background: #303030;
}
.goods_prd_item7 .tab_box .tab li.on a {
	color: #fff;
}
.goods_prd_item7 .goods_gallery_item {display:inline-block; vertical-align:top;}/* 202010 */
.goods_prd_item7 .goods_prd_item7_box {padding:10px 3px;}/* 202010 */
.goods_prd_item7 .goods_prd_img {width:100%; padding-bottom:3px; vertical-align:top;}/* 2021-05-27 */
.goods_prd_item7 .goods_prd_img .img_box {position:relative;}
/* 메인 베스트 아이콘 202010 */
.goods_prd_item7 .goods_prd_img .icon_best {display: none; position:absolute; top:0; left:0; width:25px; height:25px; background-color:rgba(0,0,0,0.6); border-radius:5px; text-align:center; z-index:21;}/* 2021-05-27 */
.goods_prd_item7 .goods_prd_img .icon_best > strong {color:#fff; font-size:12px; border-bottom:1px solid #fff; line-height:1; font-family:'Roboto'; padding:5px 0 1px; display:inline-block;}

.goods_prd_item7 .goods_prd_img .img_box .img {font-size:0; line-height:0;}
.goods_prd_item7 .goods_prd_img .img_box .img img {width:100%; box-sizing:border-box; border-radius:4px;}/* 202010 */
.goods_prd_item7 .goods_prd_content {vertical-align:top; position:relative;}/* 202010 */
.goods_prd_item7 .goods_prd_content a {}
.goods_prd_item7 .goods_prd_icon {font-size:16px; position:absolute; top:4px; right:4px; z-index:20;}/* 2021-05-27 */
.goods_prd_item7 .goods_prd_icon img {height:16px;}/* 2021-05-27 */
.goods_prd_item7 .goods_prd_content .goods_prd_soldout {padding:2px 0 2px 0;}
.goods_prd_item7 .goods_prd_content .goods_prd_soldout img {height:18px;}
.goods_prd_item7 .goods_prd_content .goods_info_list {}
.goods_prd_item7 .goods_prd_content .goods_info_list li {padding:1px 0 1px 0; word-break:break-all; color:#3e3d3c; font-size:14px;}
.goods_prd_item7 .goods_prd_content .goods_info_list li.prd_name {font-size:12px; letter-spacing:-0.5px; max-height:32px; overflow:hidden; line-height:1.4;}/* 202010 */

/* 브랜드명 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.brand_name {font-weight:bold; color:#999999;}
/* 제조사 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.maker_name {font-weight:bold; color:#999999;}
/* 짧은설명 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.short_des {font-weight:bold; color:#999999;}
/* 마일리지 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.list_mileage {font-weight:bold; color:#999999;}
/* 모델번호 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.model_no {font-weight:bold; color:#999999;}
/* 상품코드 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.prd_code {font-weight:bold; color:#999999;}
/* 판매가격 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.price {font-weight:bold;}
/* 정가 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.fixed_price {text-decoration:line-through;}
/* 쿠폰 가격 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.coupon_price .coupon_price1 {font-weight:bold; color:#ab3e55;}
/* 할인 가격 */ .goods_prd_item7 .goods_prd_content .goods_info_list li.dc_price{font-weight:bold; color:#ab3e55;}

/* 타임 세일(기본가) */ .goods_prd_item7 .goods_prd_content .goods_info_list li.price .c_price {color:#3e3d3c; font-family:'Roboto'; font-size:15px; letter-spacing:-0.5px; font-weight:600;}/* 202010 */
/* 타임 세일(적용가) */ .goods_prd_item7 .goods_prd_content .goods_info_list li.price .c_price .ori_price {color:#999; text-decoration:line-through; font-weight:300; display:inline-block; font-family:'Noto Sans KR'; font-size:12px;}/* 202010 */
/* 타임 세일(적용가) */ .goods_prd_item7 .goods_prd_content .goods_info_list li.price .c_price .ori_price::after {display:inline-block !important;}/* 202010 */
/* 타임 세일(남은기간) */ .goods_prd_item7 .goods_prd_content .goods_info_list li.price .c_price .time_sale_text {color:#3e3d3c; font-size:11px;}

.goods_prd_item7 .soldout_img {position:absolute; top:0; left:0; display:block; font-size:0; width:100%; height:100%; z-index:10; background-size:100%; background-position:center; background-repeat:no-repeat;}
.goods_prd_item7 .timesale_img {position:absolute; bottom:0; left:0; width:100%; padding:10px 0 10px 0; background:rgba(0,0,0,.5); z-index:10; color:#ffffff; font-size:12px; text-align:center; box-sizing:border-box;}
.goods_prd_item7 .timesale_img img {width:15px; margin:0 3px 0 0; vertical-align:top;}
.goods_prd_item7 .coupon_img {position:absolute; top:0; right:0; z-index:1;}
.goods_prd_item7 .coupon_img img {width:34px;}
.goods_prd_item7 .add_currency {color:#717171; font-size:12px; font-weight:normal; text-align:right;}